.verifBlock {
  display: block;
  width: var(--container-md);
  margin: var(--space-95) auto;
}
.title {
  text-align: center;
  margin: 0 auto var(--space-64);
}

.textBlock {
  display: block;
  margin: 25px auto 64px;
}

.formVerif {
  display: block;
  width: 100%;
}
.btnVerif {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-top: 15px;
}
.resendCodeMsg {
  display: flex;
  justify-content: center;
  padding-top: 72px;
}
