.eventLineupWrapper {
  display: flex;
  gap: 20px;
  width: 90%;
  margin: auto;
  padding-top: var(--space-24);
  padding-bottom: var(--space-50);
  position: relative;
}
.eventPlayersWrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  margin: auto;
  margin-top: var(--space-124);
  z-index: 1;
  max-width: 320px;
}
.eventPlayersList {
  max-height: 300px;
  overflow-x: scroll;
}
.eventPlayersList::-webkit-scrollbar {
  display: none;
}
.eventAvailablePlayersList {
  left: -3%;
}
.eventUnAvailablePlayersList {
  right: -3%;
}
.eventPlayerHeader {
  display: flex;
  gap: 50px;
  justify-content: space-between;
  font-size: var(--fs-medium);
  margin-bottom: var(--space-24);
  font-weight: bold;
}
.eventPlayerItem {
  display: flex;
  gap: 50px;
  justify-content: space-between;
  font-size: var(--fs-small);
  margin-bottom: var(--space-16);
  border: 2px solid transparent;
  cursor: pointer;
  text-transform: capitalize;
  border-radius: var(--radius);
}
.eventPlayerItem:hover {
  border: 2px solid var(--c-turk);
}
.eventPlayerItemActive {
  color: var(--c-black);
  border: 2px solid var(--c-turk);
  background-color: var(--c-turk);
}
.eventPitchAndFormationWrappper {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 3;
  width: 100%;
  margin: auto;
  min-width: 800px;
  max-width: var(--container-lg);
}
.eventPitchAndFormationWrappper > h1 {
  text-align: center;
}
.eventFormationsListWrapper {
  display: flex;
  width: 100%;
  max-width: 500px;
}
.eventLineupPitchActionButtons {
  display: flex;
  justify-content: space-between;
  margin-top: var(--space-50);
}
.eventPitchResetButton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: var(--c-turk);
  font-weight: bold;
  font-size: var(--fs-h3);
  cursor: pointer;
}
.eventPitchWrapper {
  margin-top: var(--space-50);
  display: block;
  width: 100%;
}
.eventLineupFormActionButton {
  display: flex;
  width: 85%;
  justify-content: flex-end;
  margin-top: var(--space-50);
}
