.top {
  width: 550px;
  margin: 0 auto;
}
.topTitle {
  font-family: "Touche W03 Bold", "Arial Black", sans-serif;
  font-size: 32px;
  line-height: 34px;
  text-align: center;
  color: #fff;
  margin: 44px auto 0;
}
.topFormat {
  display: flex;
  justify-content: space-between;
  width: 530px;
  height: fit-content;
  margin: 25px auto 0;
}
.topFormatItem {
  font-family: "Touche W03 Regular", "Arial", sans-serif;
  font-size: 24px;
  line-height: 24px;
  text-align: left;
  color: #fff;
  opacity: 0.5;
  cursor: pointer;
}
.top-format .activeLineup {
  color: var(--c-turk);
  opacity: 1;
}
.topUndo {
  display: block;
  margin: 64px auto 0;
  width: 75px;
  height: 24px;
}
.topUndoImg {
  width: 24px;
  height: 24px;
  margin-right: 6px;
}
.topUndoText {
  font-family: "Touche W03 Bold", "Arial Black", sans-serif;

  line-height: 17px;
  text-align: left;
  color: var(--c-turk);
}
.topBtnLineup {
  width: 186px;
  margin: 32px auto;
}
.activeLineup {
  color: var(--c-turk);
  opacity: 1;
}
@media only screen and (max-width: 600px) {
  .top {
    width: 375px;
  }
  .topTitle {
    font-size: 24px;
    line-height: 26px;
    margin-top: 55px;
  }
  .topFormat {
    justify-content: space-around;
    flex-wrap: wrap;
    width: 375px;
  }
  .topFormatItem {
    margin-left: 15px;
    margin-bottom: 15px;
  }
}
@media only screen and (min-width: 600px) {
  .top {
    width: 450px;
  }
  .topTitle {
    font-size: 24px;
    line-height: 26px;
    margin-top: 55px;
  }
  .topFormat {
    width: 450px;
  }
}
