.loginBlock {
  display: block;
  width: var(--container-md);
  margin: var(--space-95) auto 0px;
}
.title {
  text-align: center;
  margin: 0 auto var(--space-64);
}
.formLogin {
  display: block;
  width: 100%;
  height: 152px;
}
.formAct {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: var(--space-24);
}
.forgotPass {
  text-align: left;
}
.devideBlock {
  display: flex;
  align-items: center;
  margin-top: var(--space-48);
}

.text {
  padding: 0px 24px 0px 24px;
  color: var(--c-white-50);
}
.socialSignin {
  display: flex;
  justify-content: center;
  gap: 32px;
  margin: var(--space-32) auto 0px;
}
