.bankcard {
  background: #ffffff0d 0% 0% no-repeat padding-box;
  border-radius: 10px;
  padding: 16px;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
}
.bankcard .bankcardInner .bankcardNo {
  color: white;
}
.bankcard .bankcardInner .bankcardExp {
  color: rgba(255, 255, 255, 0.5);
  display: flex;
  padding-top: 16px;
  padding-bottom: 12px;
}
.bankcard .bankcardInner .bankcardExp p {
  padding-left: 2px;
  color: white;
}
.bankcard .bankcardDefault p {
  color: rgba(255, 255, 255, 0.5);
}
