.close {
  display: none;
}
.backdrop {
  position: fixed;
  z-index: 99;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: var(--c-black-50);
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px;
  background-color: var(--c-nav);
  border-radius: var(--radius-md);
  position: relative;
  max-width: 700px;
}
.contentMsg {
  font-size: 22px;
  padding: 16px;
}
.closePopup {
  position: absolute;
  top: 15px;
  color: black;
  right: 15px;
}
.buttons {
  display: flex;
  padding-top: 16px;
  gap: 16px;
}
