.homePage {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--container-lg);
  padding-top: 50px;
}

.tagContent {
  display: flex;
  justify-content: space-between;
}

.mobileSort {
  display: none;
}

.tagInner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 5px;
}

.sortSelect select {
  padding: var(--space-12) 82px var(--space-12) var(--space-16);
  background-color: var(--c-white-10);
  color: var(--c-white);
  border-radius: var(--radius-lg);
  outline: none;
  background: url("data:image/svg+xml;utf8,<svg viewBox='0 0 140 140' width='14' height='14' xmlns='http://www.w3.org/2000/svg'><g><path d='m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z' fill='white'/></g></svg>")
    no-repeat;
  -webkit-appearance: none;
  background-position: right 15px top 50%;
}

.noPosts {
  background: var(--c-white-10) 0% 0% no-repeat padding-box;
  text-align: center;
  vertical-align: middle;
  padding: var(--space-95);
  border-top-left-radius: var(--radius-lg);
  border-top-right-radius: var(--radius-lg);
  border-bottom-left-radius: var(--radius-md);
  border-bottom-right-radius: var(--radius-md);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: var(--space-5);
}

.sortSelect select:focus {
  color: var(--c-white);
  background-color: var(--c-nav);
}

.addContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: var(--space-32) 0 var(--space-32) 0;
  border: 1px solid var(--c-white-10);
  padding: 46px 46px;
  border-radius: var(--radius-lg);
  cursor: pointer;
}

.addButton {
  display: flex;
  align-items: center;
  color: var(--c-white);
}
.addButton a {
  padding: 0 var(--space-12);
}

.loadingPosts {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.endFeedMessage {
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .sortSelect {
    display: none;
  }
  .mobileSort span {
    font-size: var(--fs-base);
    padding-right: var(--space-24);
    line-height: 17px;
    cursor: pointer;
  }
  .mobileSort span:active {
    font-size: var(--fs-h3);
    font-family: var(--ff-bold);
    color: var(--c-turk);
  }

  .mobileSort {
    display: flex;
    padding-left: var(--space-36);
    padding-bottom: var(--space-24);
  }
  .tagContent {
    padding-left: var(--space-36);
    overflow-y: hidden;
  }
  .tagContent::-webkit-scrollbar {
    display: none;
  }

  .tagContent {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .search {
    display: none;
  }
  .title {
    display: none;
  }
  .addContent {
    display: none;
  }
  .homePage {
    padding-top: var(--space-32);
  }
  .tagInner {
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 280px) {
  /* For mobile phones: */
  .mobileSort {
    margin-bottom: 20px;
    padding: 0;
    margin-left: 15px;
  }

  .tagInner {
    margin-bottom: 10px;
  }
}
