.dropDownWrapper {
  position: relative;
  display: inline-block;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.dropDownList {
  display: none;
  position: absolute;
  background-color: var(--c-nav);
  right: 0;
  min-width: 160px;
  margin-top: 35px;
  border-radius: var(--radius-md);
  box-shadow: 0px 0.1px 5px 0.1px var(--c-black);
  z-index: 1;
  padding: var(--space-8);
  font-size: var(--fs-small);
  max-width: var(--space-300);
  word-wrap: break-word;
  left: 50%;
  transform: translate(-50%, 0);
}
.dropDownList::before {
  content: "\A";
  border-style: solid;
  border-width: 10px 10px 0px 10px;
  border-color: var(--c-nav) transparent transparent transparent;
  transform: rotateX(180deg) translate(-50%, 0);
  position: absolute;
  top: -10px;
  left: 50%;
}
.dropDownListItem {
  cursor: pointer;
  color: var(--c-white);
  padding: 20px 16px;
  margin-left: 10px;
  margin-right: 10px;
  display: block;
}
.openDropdown {
  display: block;
}
.seperator {
  border-top: 2px solid var(--c-white);
}
.tipHover {
  cursor: pointer;
}
