.available {
  background-color: var(--c-primary);
  padding: 32px;
}
.header {
  display: flex;
  align-items: center;
}
.header p {
  padding-left: 5px;
}
.header p span {
  font-weight: 600;
  padding-left: 5px;
}
.players {
  padding-top: 24px;
}
.players p {
  padding-top: 12px;
}
