.btn {
  padding: var(--space-16) var(--space-48) var(--space-16) var(--space-48);
  border-radius: var(--radius-md);
  background: var(--c-turk);
  outline: none;
  border: none;
  cursor: pointer;
}
.btnXSmall {
  padding: var(--space-5) var(--space-30);
}
.danger {
  background: var(--c-red);
}
.cancel {
  background: var(--c-white-30);
}
.success {
  background: var(--c-green);
}
.info {
  background: var(--c-turk);
}
.btnDisabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.contTxt {
  font-family: var(--ff-bold);
  text-align: center;
  color: var(--c-white);
}
.btnContent {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading {
  position: absolute;
  border: 2px solid var(--c-white);
  border-radius: 50%;
  border-top: 2px solid var(--c-yellow);
  width: 25px;
  height: 25px;
  -webkit-animation: spin 0.5s linear infinite; /* Safari */
  animation: spin 0.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
