.btn {
  padding: var(--space-16) var(--space-48) var(--space-16) var(--space-48);
  border-radius: var(--radius-md);
  background: var(--c-turk);
  outline: none;
  border: none;
  cursor: pointer;
}

.contTxt {
  font-family: var(--ff-bold);
  text-align: center;
  color: var(--c-white);
}
