{
  "presets": [["next/babel", {}]],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@c": "./components",
          "@page": "./components/page-level",
          "@sub": "./components/sub",
          "@layout": "./components/layout"
        }
      }
    ]
  ]
}
