.commonSearch {
  width: 100%;
  position: relative;
}
.commonSearch span {
  cursor: pointer;
  position: absolute;
  display: flex;
  height: 52px;
  width: 52px;
  align-items: center;
  justify-content: center;
  background-color: #ffffff0d;
  border-top-left-radius: var(--radius-md);
  border-bottom-left-radius: var(--radius-md);
  z-index: 1;
}
.commonSearch input {
  width: 100%;
  height: 52px;
  border-radius: var(--radius-md);
  background: #ffffff0d 0% 0% no-repeat padding-box;
  border: none;
  padding-left: 72px;
  color: var(--c-white-70);
  position: relative;
}
.commonSearch input::placeholder {
  color: var(--c-white-50);
}
