.commonSearch {
  width: 100%;
  margin-top: 24px;
  margin-bottom: 50px;
  position: relative;
}
.commonSearch a {
  position: absolute;
  display: flex;
  left: 14px;
  top: 14px;
  width: 21px;
  height: 21px;
}
.commonSearch input {
  width: 100%;
  height: 52px;
  border-radius: var(--radius-md);
  background: #ffffff0d 0% 0% no-repeat padding-box;
  border: none;
  padding-left: 44px;
  color: var(--c-white-70);
  position: relative;
}
.commonSearch input::placeholder {
  color: var(--c-white-50);
}
