.videoCard {
  border-radius: var(--radius-lg);
  background-color: var(--c-primary);
  margin-bottom: 50px;
}

.preview {
  border-radius: var(--radius-lg);
  max-height: 487px;
}
.desc {
  padding: 12px 0 0 30px;
}
.viewCount {
  padding: 12px 0 0 30px;
}
.cardInfoProfile img {
  border-radius: var(--radius-xl);
}
.cardInfoProfile {
  display: flex;
  align-items: center;
}
.avatarInfo {
  padding-left: 12px;
}
.cardInfoHeader {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  padding: 32px;
}

.socialButtons {
  padding-top: 12px;
  padding: 32px 0 12px 32px;
  display: flex;
}

@media (max-width: 768px) {
  .videoCard {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    background-color: unset;
    position: relative;
  }
  .cardInfoHeader {
    order: 1;
  }
  .preview {
    order: 2;
  }
  .desc {
    order: 3;
    padding-left: 24px;
    padding-right: 24px;
  }
  .viewCount {
    position: absolute;
    bottom: 24px;
    right: 24px;
  }
  .socialButtons {
    order: 4;
  }
}
