.table {
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: var(--radius-lg);
}

@media screen and (max-width: 1024px) and (min-width: 766px) {
  .table {
    padding: 24px;
  }
  
}
@media screen and (max-width: 766px) and (min-width: 360px) {
  
  .table {
    padding: 12px;
    margin-bottom: 70px;
  }
}

@media only screen and (max-width: 390px) {
  /* For mobile phones: */

  .tblScroll{
    overflow-x: scroll;
  }

  .scrollTbl{
    width: 500px;
  }

  .table{
    padding: 12px;
    margin-bottom: 70px;
  }
}