.avatar {
  position: relative;
}
.edit {
  display: none;
}
.pointer {
  cursor: pointer;
}
.image {
  object-fit: cover;
}
.avatarHoverOpacity:hover .image {
  opacity: 0.3;
}
.avatarHoverCursor {
  cursor: pointer;
}
.avatar:hover .edit {
  z-index: 1;
  position: absolute;
  display: block;
  top: 45%;
  left: 40%;
  cursor: pointer;
}
.imageFullScreen {
  min-width: 550px;
  min-height: 550px;
  object-fit: cover;
}
