.avatar {
  position: relative;
}
.edit {
  display: none;
}
.pointer {
  cursor: pointer;
}

.avatar:hover .image {
  opacity: 0.6;
}
.avatar:hover .edit {
  /* position: absolute; */
  display: block;
  top: 45%;
  left: 40%;
  cursor: pointer;
}
