.eventsWrapper {
  max-width: var(--container-lg);
  padding-top: var(--space-50);
  padding-bottom: var(--space-50);
}
.eventsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.draft {
  font-family: var(--ff-bold);
  color: var(--c-turk);
  display: flex;
  align-items: center;
  cursor: pointer;
}
.draft p {
  padding-left: 3px;
}

.eventCardsRow {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 32px;
  margin-top: 24px;
  margin-bottom: 200px;
}

@media screen and (max-width: 1280px) and (min-width: 1024px) {
  .eventsWrapper {
    max-width: 70%;
    padding-right: 24px;
  }
}

@media screen and (max-width: 1024px) and (min-width: 850px) {
  .eventsWrapper {
    flex-direction: column;
  }
  .eventsWrapper h1 {
    display: none;
  }
  .draft {
    display: none;
  }
  .eventCardsRow {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    padding: 24px;
    margin-top: unset;
    margin-bottom: unset;
  }
}

@media screen and (max-width: 850px) and (min-width: 360px) {
  .eventsWrapper h1 {
    display: none;
  }
  .eventsWrapper {
    margin-bottom: 70px;
  }
  .draft {
    display: none;
  }
  .eventCardsRow {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    padding: 12px;
    margin-top: unset;
    margin-bottom: unset;
  }
}

@media screen and (max-width: 360px) {
  .eventsWrapper h1 {
    display: none;
  }
  .eventsWrapper {
    margin-bottom: 70px;
  }
  .draft {
    display: none;
  }
  .eventCardsRow {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    padding: 12px;
    margin-top: unset;
    margin-bottom: unset;
  }
}

.loadingWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: var(--space-50);
}
.span1 {
  grid-column: span 1 / span 1;
}
.span2 {
  grid-column: span 2 / span 2;
}
.span3 {
  grid-column: span 3 / span 3;
}
