.a {
  fill: #ffd57c;
}
.b {
  fill: #1e6c36;
}
.c {
  fill: #e33b26;
}
.d {
  fill: #4ba246;
}
.e {
  fill: #3a823e;
}
.f {
  fill: #ef502a;
}
.g {
  fill: #f2af1c;
}
.h {
  fill: #f4821f;
}
.i {
  fill: #8dc75d;
}
.j {
  fill: #f7eac3;
}
