.chip {
  display: flex;
  white-space: nowrap;
  justify-content: center;
  background: var(--c-white-10);
  color: #ffffff;
  border-radius: var(--radius-md);
  padding: 5px 8px 5px 3px;
  width: 100%;
}
.backgroundDanger {
  background-color: var(--c-red);
}
.backgroundSuccess {
  background-color: var(--c-green);
}
.chipHead {
  margin-left: 10px;
  display: flex;
  position: relative;
  overflow: hidden;
  max-width: 30px;
  height: auto;
}
.chipContent {
  cursor: inherit;
  display: flex;
  align-items: center;
  user-select: none;
  white-space: nowrap;
  padding-left: 12px;
  padding-right: 12px;
}
.chipClose {
  margin-left: auto;
}
.chipSvg {
  cursor: pointer;
  fill: var(--c-red);
  /* paint-order: #ffffff; */
  width: 1.1em;
  height: 1.1em;
  display: inline-block;
  font-size: 27px;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.chipSvgSmall {
  font-size: 15px;
}
.chipSvg:hover {
  color: var(--c-red);
}
.roundedImage {
  border-radius: 50%;
}
