.teamHeaderWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
}
.teamCrestWrapper {
  position: relative;
  min-width: 250px;
}
.teamCrest {
  height: 250px;
  width: 250px;
  cursor: pointer;
  border-radius: 50%;
  border: 5px solid var(--c-white-70);
  background-color: var(--c-white-70);
}
.teamClubCrestWrapper {
  position: absolute;
  top: 15px;
  right: 0px;
}
.teamClubCrest {
  height: 70px;
  width: 70px;
  cursor: pointer;
  border-radius: 50%;
  border: 5px solid var(--c-primary);
  background-color: var(--c-primary);
}
.teamParentClubNameWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: var(--space-22);
}
.teamParentClubName {
  color: var(--c-turk);
  font-size: var(--fs-h3);
  transition: 0.1s ease;
  margin-left: var(--space-3);
  cursor: pointer;
}
.teamParentClubName:hover {
  transform: scale(1.1);
}
.teamHeaderDetailsWrapper {
  margin-left: var(--space-32);
  display: flex;
  flex-direction: column;
  width: 100%;
}
.teamHeaderTitleWrapper {
  border-bottom: 5px solid var(--c-white-70);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.teamHeaderTitleWrapper > h1 {
  margin-bottom: var(--space-10);
}
.teamHeaderAdminActionButtons {
  display: flex;
}
.teamHeaderActionButtons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: var(--space-20);
}
.teamHeaderActionButtons > button {
  margin-right: var(--space-10);
}
.teamMembersBlock {
  margin-top: var(--space-50);
}
.teamMembershipWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.teamMembershipStatusWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.teamMembershipStatus {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  border-radius: var(--radius);
  padding: var(--space-3) var(--space-5);
  margin-left: var(--space-5);
  text-transform: capitalize;
}
.activeMemberShip {
  background-color: var(--c-green);
}
.suspendedMemberShip {
  background-color: var(--c-yellow);
  color: var(--c-black);
}
.unapprovedMemberShip {
  background-color: var(--c-red);
}
.teamMembersWrapper {
  width: 100%;
  background-color: var(--c-white-05);
  padding: var(--space-16);
  border-radius: var(--radius);
  margin-top: var(--space-5);
}
.teamMembers {
  width: 100%;
  margin-top: var(--space-8);
  margin-bottom: var(--space-8);
  padding: var(--space-8);
  border-radius: var(--radius);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  max-height: 280px;
  overflow-y: scroll;
}
.teamMembers::-webkit-scrollbar-track {
  background-color: transparent;
}
.teamMemberCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: var(--radius-md);
  background-color: var(--c-primary);
  margin: var(--space-5);
  padding: var(--space-16) var(--space-10);
  width: 48%;
  transition: 0.1s ease;
}
.teamMemberCard:hover {
  transform: scale(0.98);
  box-shadow: 0px 3px 15px rgba(255, 255, 255, 0.1);
}
.teamMemberImage {
  border-radius: 50%;
  height: 55px;
  width: 55px;
  max-width: 55px;
  max-height: 55px;
  cursor: pointer;
}
.teamMemberInfoWrapper {
  margin-right: auto;
  margin-left: var(--space-10); /*temp: use spacer */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.teamMemberName {
  cursor: pointer;
  transition: 0.1s ease;
  text-transform: capitalize;
}
.teamMemberRolesWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.teamMemberRole {
  color: var(--c-black);
  background-color: var(--c-turk);
  padding: 2px 10px;
  border-radius: var(--radius);
  font-size: var(--fs-small);
  margin-top: var(--space-3);
  margin-right: var(--space-3);
  text-transform: capitalize;
}
.teamMemberActionButtons {
  margin-left: auto;
}
.teamMemberActionButtons > span {
  cursor: pointer;
  padding: var(--space-5);
}
.teamMembersNone {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--space-32);
  color: var(--c-white-70);
}
.teamMembersNone > span {
  color: var(--c-turk);
}
.teamSubscriptionPlansWrapper {
  width: 100%;
  background-color: var(--c-white-05);
  margin-top: var(--space-32);
  padding: var(--space-16);
  border-radius: var(--radius);
}
.teamSubscriptionPlansHeaderWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.addSubscriptionPlan {
  cursor: pointer;
}
.addTeamSubscriptionContentDialog {
  width: 50%;
  max-width: 50%;
}
.addTeamSubscriptionWrapper {
  margin-top: var(--space-12);
  margin-bottom: calc(var(--space-12) * -1);
}
.addTeamSubscriptionSelectInput {
  border-radius: var(--radius-md);
  margin-bottom: var(--space-16);
}
.addTeamSubscriptionSelectInput:hover {
  cursor: not-allowed;
}
.addTeamSubscriptionErrorBox {
  margin-top: var(--space-5);
  margin-bottom: var(--space-16);
}
.addTeamSubscriptionActionButtons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.teamSubscriptionPlans {
  width: 100%;
  margin-top: var(--space-8);
  margin-bottom: var(--space-8);
  padding: var(--space-8);
  border-radius: var(--radius);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  max-height: 280px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.teamSubscriptionPlans::-webkit-scrollbar-track {
  background-color: transparent;
}
.teamSubscriptionPlanCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: var(--radius-md);
  background-color: var(--c-primary);
  margin: var(--space-5);
  padding: var(--space-20) var(--space-10);
  width: 48%;
  transition: 0.2s ease;
  cursor: pointer;
}
.teamSubscriptionPlanCard:hover {
  transform: scale(1.1);
  margin-left: 20px;
  box-shadow: 0px 3px 15px rgba(255, 255, 255, 0.1);
  z-index: 999;
}
.teamSubscriptionPlanInfoWrapper {
  margin-right: auto;
  margin-left: var(--space-10); /*temp: use spacer */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.teamSubscriptionPlanPriceWrapper {
  margin-top: var(--space-5);
  color: var(--c-white-30);
}
.teamSubscriptionPlanName {
  cursor: pointer;
  transition: 0.1s ease;
  text-transform: capitalize;
}
.teamSubscriptionPlanPrice {
  color: var(--c-yellow);
  font-size: var(--fs-h2);
}
.teamSubscriptionPlanActions {
  margin-left: auto;
}
.teamSubscriptionPlanActions > span {
  padding: var(--space-5);
  border-radius: var(--radius);
}
.teamSubscriptionPlanActive {
  background-color: var(--c-green);
}
.teamSubscriptionPlanInActive {
  background-color: var(--c-red);
}
.teamSubscriptionPlanUsageInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: var(--space-16);
  margin-bottom: var(--space-16);
}
.teamSubscriptionPlanUsageInfo > span {
  font-size: var(--fs-h3);
  border-bottom: 1.5px solid var(--c-white-70);
}
.teamSubscriptionPlanCTA {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: var(--space-16);
  margin-bottom: var(--space-16);
  color: var(--c-turk);
}
.teamJoinRequestsWrapper {
  width: 100%;
  background-color: var(--c-white-05);
  margin-top: var(--space-32);
  padding: var(--space-16);
  border-radius: var(--radius);
}
.teamJoinRequests {
  width: 100%;
  margin-top: var(--space-8);
  margin-bottom: var(--space-8);
  padding: var(--space-8);
  border-radius: var(--radius);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  max-height: 280px;
  overflow-y: scroll;
}
.teamJoinRequests::-webkit-scrollbar-track {
  background-color: transparent;
}
.teamJoinRequestsNone {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--space-32);
  color: var(--c-white-70);
}
