.profile {
  margin-left: auto;
  margin-right: auto;
  max-width: 940px;
  padding-top: 50px;
  .profileTitle {
    font-size: 32px;
    color: white;
    font-family: "Touche W03 Bold", "Arial", sans-serif;
    margin-bottom: 48px;
  }
  .profilePlayer {
    background: #141f34 0% 0% no-repeat padding-box;
    width: 100%;

    border-radius: 15px;
    padding: 32px;
    .profilePlayerHeader {
      display: flex;
      justify-content: space-between;
      .profilePlayerHeaderAvatar {
        height: 124px;
        width: 124px;
      }
      .profilePlayerHeaderInnerLeft {
        display: flex;

        .profileInfo {
          display: block;
          padding-left: 16px;
          h2 {
            color: white;
            font-size: 24px;
            margin-top: 6px;
            margin-bottom: 6px;
            font-family: "Touche W03 Bold", "Arial", sans-serif;
          }
          h6 {
            color: white;
            margin-bottom: 12px;

            font-size: 16px;
            font-weight: 500;
            font-family: "Touche W03 Regular", "Arial", sans-serif;
          }
          img {
            padding-right: 16px;
          }
        }
      }
      .profilePlayerHeaderInnerRight {
        display: flex;
        align-items: center;
      }
    }
    .profilePlayerBody {
      margin-top: 16px;
    }
  }
  .profileButtons {
    margin-top: 48px;
    display: flex;
    img {
      color: white;
    }
    .active {
      background-color: #5fc4ee;
    }
    .passive {
      opacity: 0.5;
      &:hover {
        background-color: #5fc4ee;
        opacity: 1;
      }
    }
    button {
      margin-right: 15px;
    }
  }
  .profilePhotos {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    .profilePhotosItem {
      margin-top: 30px;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      &:hover {
        .profilePhotosOptions {
          display: flex;
        }
      }
      .profilePhotosOptions {
        display: none;
        align-items: center;

        position: absolute;
        img {
          margin-right: 16px;
          background-color: rgb(0, 0, 0, 0.5);
          border-radius: 99px;
          padding: 16px;
          width: 64px;
          height: 64px;
          &:hover {
            background-color: rgb(0, 0, 0, 0.8);
          }
        }
      }
    }
  }
}
@media screen and (max-width: 900px) and (min-width: 640px) {
  .navbar {
    .navbarList {
      margin-left: 12px;
    }
    .navbarListItem-item .navbarListItemLink {
      margin-right: 12px;
    }
  }
  .profile .profileTitle {
    padding-left: 30px;
  }
  .profile .profilePhotos {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .profile .profileButtons {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 640px) {
  .profile .profileTitle {
    padding-left: 10px;
  }
  .profile .profilePhotos {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .profile .profilePlayer .profilePlayerHeader {
    justify-content: start;
    display: block;
    .profilePlayerHeaderAvatar {
      width: 96px;
      height: 96px;
    }
    .profilePlayerHeaderInnerRight {
      display: flex;
      align-items: center;
      padding-top: 30px;
    }
  }
  .profile .profileButtons {
    display: grid;
    gap: 0.5rem;
  }
}
