.table {
  display: flex;
  overflow-x: scroll;
  border-radius: var(--radius-lg);
  padding: 12px;
}

.table::-webkit-scrollbar {
  display: none;
}
.table {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.month {
  background-color: var(--c-white-20);
  padding: 32px;
  cursor: pointer;
}
.month:hover {
  background-color: var(--c-white-30);
}
.selected {
  font-family: var(--ff-bold);
  background-color: var(--c-turk);

  transform: scale(1.2);
  transition: all 300ms;
  border-radius: var(--radius-lg);
}
.selected:hover {
  background-color: var(--c-turk);
}

@media screen and (max-width: 766px) and (min-width: 360px) {
  .table {
    padding: 2px;
    overflow-x: scroll;
  }
  .selected {
    font-family: unset;
  }
  .month {
    padding: 12px;
    font-size: 14px;
  }
}
