.profilePhotosItem {
  margin-top: var(--space-12);
  margin-right: var(--space-12);
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  cursor: pointer;
  position: relative;
}
.profilePhotosItem video {
  height: 150px;
  width: 150px;
  border-radius: var(--space-16);
  object-fit: cover;
}
.profilePhotosItem img {
  height: 150px;
  width: 150px;
  border-radius: var(--space-16);
  object-fit: cover;
}
.profileImagePicker {
  height: 150px;
  width: 150px;
  border-radius: var(--space-16);
  background: var(--c-white-10) 0% 0% no-repeat padding-box;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profilePhotosItem .profilePhotosOptions {
  display: none;
  align-items: center;
  position: absolute;
}

.profilePhotosItem .profilePhotosOptions a {
  margin-right: var(--space-16);
  background-color: var(--c-black-50);
  border-radius: var(--radius-full);
  padding: var(--space-16);
  width: var(--space-64);
  height: var(--space-64);
  display: flex;
  align-items: center;
  justify-content: center;
}
.profilePhotosItem .profilePhotosOptions img:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
