.playerStats {
  margin-bottom: 300px;
}
.tableHead {
  display: grid;
  grid-template-columns: repeat(8, minmax(0, 1fr));
  background-color: var(--c-nav);
  padding: 16px 16px 16px 0;
  text-align: center;
  margin-top: 24px;
  border-top-left-radius: var(--radius-lg);
  border-top-right-radius: var(--radius-lg);
  color: var(--c-white-50);
}
.cellName {
  grid-column: span 2 / span 2;
}
.Cell {
  grid-column: span 1 / span 1;
}
.table {
  display: grid;
  text-align: center;
  padding: 16px 16px 16px 0;
  grid-template-columns: repeat(8, minmax(0, 1fr));
  background-color: var(--c-primary);
}
@media screen and (max-width: 766px) and (min-width: 360px) {
  .table {
    gap: 32px;
  }
  .tableHead {
    word-break: break-all;
  }
  .playerStats {
    margin-bottom: 120px;
    display: flex;
    flex-direction: column;
  }
  .mobileOverflow {
    overflow-x: scroll;
  }
  .overflowInner {
    white-space: nowrap;
    width: max-content;
  }
}
