.addContentTeamHeader {
  margin-bottom: var(--space-20);
}
.addContentTeamName {
  padding: var(--space-1) var(--space-5);
  margin-left: var(--space-5);
  border-radius: var(--radius);
  color: var(--c-black);
  background-color: var(--c-turk);
  cursor: pointer;
}
