.addContentWrapper {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  padding-top: 30px;
}
.addContentItem {
  padding: 5px;
  color: var(--c-white-50);
}
.addContentItem p {
  padding-bottom: 10px;
}
.span1 {
  grid-column: span 1 / span 1;
}
.span2 {
  grid-column: span 2 / span 2;
}
.span3 {
  grid-column: span 3 / span 3;
}
.profilePlayerClubChips {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  margin-bottom: 48px;
}
.btnChipPadding {
  padding: 7px;
}
.profilePlayerBody {
  margin-top: 5px;
}
.dragDropVideos {
  background: var(--c-white-10) 0% 0% no-repeat padding-box;
  text-align: center;
  vertical-align: middle;
  padding: var(--space-95);
  border-top-left-radius: var(--radius-lg);
  border-top-right-radius: var(--radius-lg);
  border-bottom-left-radius: var(--radius-md);
  border-bottom-right-radius: var(--radius-md);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.dragDropVideosBrowseFiles {
  font-family: var(--ff-bold);
  text-align: center;
  color: var(--c-turk) !important;
  margin-bottom: var(--space-32);
  cursor: pointer;
  text-decoration: underline;
}
.mediaPickedBubbleWrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.relatedVideosWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 25px;
}
.cancelButton {
  cursor: pointer;
  padding: 15px;
  color: var(--c-white-30);
  margin-right: 15px;
}
.marginTop {
  margin-top: var(--space-24);
}

.addContentFooter {
  margin-top: var(--space-10);
  display: flex;
  justify-content: space-between;
}
.addContentFooterLeft {
  display: flex;
}
.addContentFooterRight {
  display: flex;
  align-items: top;
}

@media (max-width: 760px) {
  .span1 {
    grid-column: span 2 / span 2;
  }
  .span2 {
    grid-column: span 2 / span 2;
  }
}

.profilePlayerHeader {
  display: flex;
  justify-content: space-between;
}
.profilePlayerHeaderInnerLeft {
  display: flex;
}
.profilePlayerHeaderInnerRight {
  display: flex;
  align-items: top;
}
.profileEditIcon {
  max-width: 18px;
  max-height: 18px;
  display: flex;
  margin-top: 5px;
}
.profileEditButton {
  display: none;
}

@media (min-width: 470px) {
  .profileEditIcon {
    display: none;
  }
  .profileEditButton {
    display: flex;
  }
}

@media (max-width: 640px) {
  .profile .profilePlayer .profilePlayerHeader .profilePlayerHeaderInnerRight {
    display: flex;
    align-items: top;
  }
}

.profilePlayerImage {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

@media (min-width: 470px) {
  .profilePlayerImage {
    width: 100px;
    height: 100px;
  }
}

@media (min-width: 640px) {
  .profilePlayerImage {
    width: 150px;
    height: 150px;
  }
}

.mediaHolder {
  background: var(--c-white-10) 0% 0% no-repeat padding-box;
  text-align: center;
  vertical-align: middle;
  border-top-left-radius: var(--radius-lg);
  border-top-right-radius: var(--radius-lg);
  border-bottom-left-radius: var(--radius-md);
  border-bottom-right-radius: var(--radius-md);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
