.directedButton {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  color: var(--c-turk);
  font-family: var(--ff-bold);
  cursor: pointer;
}
.directedButton a {
  padding-left: var(--space-6);
}
.directedButton:hover {
  text-decoration: underline;
}
.bank {
  font-size: 14px;
}
