.backForward {
  display: flex;
  width: 80px;
  justify-content: space-between;
}
.left {
  background-color: var(--c-white-20);
  padding: 12px;
  border-radius: var(--radius);
  cursor: pointer;
}
.right {
  background-color: var(--c-white-20);
  padding: 12px;
  border-radius: var(--radius);
  cursor: pointer;
}

.left:hover {
  background-color: var(--c-turk);
}
.right:hover {
  background-color: var(--c-turk);
}
.disabled {
  opacity: 0.5;
}
.disabled:hover {
  background-color: var(--c-white-20);
}
