.pitchImgWrapper {
  display: block;
  position: relative;
  margin: 0 auto;
  width: fit-content;
  height: fit-content;
}
.pitchImg {
  width: var(--container-lg);
  height: 575px;
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Likely future */
}

@media only screen and (max-width: 600px) {
  .pitchImg {
    width: 375px;
    height: 230px;
  }
}
@media only screen and (min-width: 600px) {
  .pitchImg {
    width: 600px;
    height: 367px;
  }
}
@media only screen and (min-width: 1200px) {
  .pitchImg {
    width: 800px;
    height: 490px;
  }
}
@media only screen and (min-width: 1440px) {
  .pitchImg {
    width: 800px;
    height: 490px;
  }
}
@media only screen and (min-width: 1920px) {
  .pitchImg {
    width: var(--container-lg);
    height: 575px;
  }
}
