.tag {
  background-color: var(--c-white-10);
  /* padding: top right bottom left  */
  padding: var(--space-6) var(--space-18) var(--space-6) var(--space-18);
  border-radius: var(--radius-lg);
  margin-right: var(--space-12);
  cursor: pointer;
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Likely future */
}

.active {
  background-color: var(--c-turk);
}
