.connectedbanks {
  max-width: var(--container-lg);
  padding-top: var(--space-50);
  padding-bottom: var(--space-64);
  margin-left: auto;
  margin-right: auto;
}
.connectedbanksBody {
  background: var(--c-primary) 0% 0% no-repeat padding-box;
  width: 100%;
  border-radius: var(--radius-lg);
  padding: var(--space-32);
}
.connectedbanksBodyInner {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: var(--space-32);
}
.connectedbanksButton {
  display: flex;
  padding-top: var(--space-20);
  justify-content: flex-end;
}
.noBankAccounts {
  background: var(--c-white-05) 0% 0% no-repeat padding-box;
  text-align: center;
  vertical-align: middle;
  padding: var(--space-95);
  border-top-left-radius: var(--radius-lg);
  border-top-right-radius: var(--radius-lg);
  border-bottom-left-radius: var(--radius-md);
  border-bottom-right-radius: var(--radius-md);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: var(--space-5);
  color: var(--c-white);
}

@media screen and (max-width: 900px) and (min-width: 640px) {
  .connectedbanks {
    padding: var(--space-50) var(--space-20) 0 var(--space-20);
  }
  .connectedbanksTitle h1 {
    margin-left: 30px;
  }
  .connectedbanksBody .connectedbanksBodyInner {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
@media (max-width: 640px) {
  .connectedbanks {
    padding: 80px var(--space-20) 0 var(--space-20);
  }
  .connectedbanksBodyInner {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
