.selectBox {
  padding: var(--space-12) 82px var(--space-12) var(--space-16);
  background-color: var(--c-white-10);
  color: var(--c-white-50);
  width: 100%;
  border-radius: var(--radius-lg);
  outline: none;
  text-transform: capitalize;
  margin: 0px auto var(--space-5);
}
.option {
  text-transform: capitalize;
}
.selectBox:focus {
  color: var(--c-white);
  background-color: var(--c-nav);
}
.errorMsg {
  color: var(--c-red);
  padding-left: var(--space-5);
}
.infoMsg {
  color: var(--c-white-30);
  padding-left: var(--space-5);
}
.successMsg {
  color: var(--c-green);
  padding-left: var(--space-5);
}
.errorInput {
  border: 2px solid var(--c-red) !important;
}
.infoInput {
  border: 2px solid var(--c-white-30) !important;
}
.successInput {
  border: 2px solid var(--c-green) !important;
}
