.eventCardWrapper {
  display: flex;
  flex-direction: column;
  background-color: var(--c-primary);
  border-radius: var(--radius-lg);
}
.eventImageWrapper {
  position: relative;
  cursor: pointer;
}
.eventImageWrapper img {
  width: 100%;
  height: 250px;
  border-top-left-radius: var(--radius-lg);
  border-top-right-radius: var(--radius-lg);
  object-fit: cover;
}
.eventFee {
  background-color: var(--c-turk);
  padding: 12px;
  position: absolute;
  bottom: 12px;
  right: 12px;
  font-weight: 700;
}
.eventManageOptionsWrapper {
  display: none;
  position: absolute;
  top: 12px;
  right: 12px;
}
.eventImageWrapper:hover .eventManageOptionsWrapper {
  display: block;
}
.eventCardBody {
  padding: var(--space-12);
}
.eventTeamsWrapper {
  display: flex;
  justify-content: center;
}
.eventTeam {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-transform: capitalize;
}
.eventTeamCrest {
  width: 50px;
  height: 50px;
  cursor: pointer;
  border-radius: 50% 50% 45% 45% / 9% 9% 91% 91%;
  margin-bottom: var(--space-5);
}
.eventTypeWrapper {
  margin: 0 var(--space-40);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.eventTypeMatch {
  color: var(--c-white-50);
  text-transform: capitalize;
}
.eventTypeTraining {
  font-size: var(--fs-h3);
  background-color: var(--c-yellow);
  color: var(--c-white-70);
  padding: var(--space-5) var(--space-12);
  transform: skew(-0.02turn, 0deg);
  text-transform: capitalize;
}
.eventTypeSocial {
  font-size: var(--fs-h3);
  background-color: var(--c-green);
  color: var(--c-white-70);
  padding: var(--space-5) var(--space-12);
  transform: skew(-0.02turn, 0deg);
  text-transform: capitalize;
}
.eventVerses {
  margin-top: var(--space-5);
  font-size: var(--fs-h2);
  font-weight: var(--ff-bold);
}
.eventInfoWrapper {
  padding: var(--space-12);
  padding-bottom: 0;
  margin-top: var(--space-24);
  display: flex;
  flex-direction: column;
}
.eventInfoItem {
  display: flex;
  align-items: center;
  margin-bottom: var(--space-10);
}
.eventInfoItem > span {
  margin-left: var(--space-12);
  text-transform: capitalize;
}
.eventCardActionButton {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
