
.signupBlock {
  display: block;
  width: 454px;
  margin: 96px auto 0px;

  .title {
    font-family: ToucheW03-Bold, sans-serif;
    font-weight: normal;
    font-size: 32px;
    line-height: 32px;
    text-align: center;
    color: #fff;
    margin: 0 auto 64px;
  }
  .formSignup {
    display: block;
    //display: flex;
    //flex-direction: column;
    width: 100%;
    height: 228px;
    font-size: 0px;
  }
  .formAct {
    display: block;
    height: 52px;
    //width: 142px;
    margin-left: 297px;
    margin-top: 24px;
  }
  .devideBlock {
    display: block;
    width: 454px;
    height: 20px;
    margin-top: 48px;

    .line {
      display: inline-block;
      width: 193px;
      height: 1px;
      background: #fff;
      opacity: 0.2;
      margin: 8px 0px;
    }
    .text {
      display: inline-block;
      width: 68px;
      height: 20px;
      font-family: ToucheW03-Regular, sans-serif;
      font-weight: normal;
      font-size: 16px;
      line-height: 16px;
      text-align: center;
      color: #fff;
      opacity: 0.5;
      margin: auto 0;
    }
  }
  .socialSignin {
    display: flex;
    justify-content: space-between;
    width: 116px;
    height: 42px;
    margin: 32px auto 0px;

    .iconFacebook {
      width: 42px;
      height: 42px;
    }
    .iconGoogle {
      width: 42px;
      height: 42px;
    }
  }
  .toLogin {
    display: block;
    position: relative;
    width: 100%;
    font-family: ToucheW03-Bold, sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 17px;
    text-align: center;
    color: #5fc4ee;
    margin-top: 73px;
    margin-bottom: 64px;
  }
}

