.socialButton {
  padding: var(--space-16);
  background-color: var(--c-white-10);
  border-radius: var(--radius-xl);
  display: flex;
  align-items: center;
  margin-right: var(--space-12);
  cursor: pointer;
}
.socialButton:hover {
  background-color: var(--c-white-30);
}
.socialButton p {
  margin-left: 5px;
}

@media only screen and (max-width: 1024) and (min-width: 766px) {
  /* For mobile phones: */
  .socialButton{
    width: auto;
    height: 50px;
  }

}

@media only screen and (max-width: 766px) and (min-width: 320px) {
  /* For mobile phones: */
  .socialButton{
    width: auto;
    height: 50px;
  }

}


@media only screen and (max-width: 320px) and (min-width: 280px) {
  /* For mobile phones: */
  .socialButton{
    width: auto;
    height: 50px;
  }

}

@media only screen and (max-width: 280px) {
  /* For mobile phones: */
  .socialButton{
    width: auto;
    height: 50px;
  }

}
