.statistics {
  max-width: var(--container-lg);
}
.statistics h1 {
  padding-bottom: 20px;
}
.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
  min-width: max-content;
}
.fix {
  min-width: var(--container-lg);
}
.select select {
  padding: var(--space-12) 22px var(--space-12) var(--space-16);
  background-color: var(--c-white-10);
  color: var(--c-white);
  border-radius: var(--radius-lg);
  outline: none;
}
@media screen and (max-width: 1300px) and (min-width: 1024px) {
  .fix {
    min-width: 800px;
  }
}

@media screen and (max-width: 1024px) and (min-width: 766px) {
  .statistics {
    padding: 24px;
  }
  .title {
    display: none;
  }
}

@media screen and (max-width: 766px) and (min-width: 360px) {
  .title {
    display: none;
  }
  .statistics {
    padding: 12px;
  }
  .select {
    display: none;
  }
  .buttons {
    display: flex;
  }
}
