.notificationContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
  align-items: center;
  min-width: 288px;
  padding: 12px;
  padding-bottom: 15px;
  padding-top: 15px;
  border-radius: 5px;
  margin: 12px;
  bottom: 0;
  left: 0;
  position: fixed;
  font-size: inherit;
  font-family: sans-serif;
  background: var(--c-red);
  color: var(--c-white);
}

.notificationIcon {
  font-size: 20px;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.notificationText {
  margin-left: 10px;
}

.hidden {
  display: none !important;
}
