.table {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  background-color: var(--c-primary);
  padding: 16px;
}
.tableItem {
  background-color: var(--c-white-05);
}

@media screen and (max-width: 1684px) and (min-width: 1024px) {
}

@media screen and (max-width: 1024px) and (min-width: 766px) {
}

@media screen and (max-width: 766px) and (min-width: 360px) {
  .table {
    gap: 2px;
    text-overflow: ellipsis;
  }
}
