.notifications {
  display: flex;
  align-items: center;
}
.notificationItem {
  margin-right: var(--space-16);
  padding: var(--space-10);
  background-color: #192745;
  border-radius: var(--radius-full);
  cursor: pointer;
}
@media (max-width: 768px) {
  .notifications {
    display: none;
    padding-right: var(--space-10);
  }
}
