.addEventWrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--container-lg);
  padding-top: var(--space-50);
  padding-bottom: var(--space-50);
}
.addEventHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.addEventHeader span {
  color: var(--c-white-50);
  margin-right: var(--space-12);
}
.addEventBodyWrapper {
  background: var(--c-primary) 0% 0% no-repeat padding-box;
  width: 100%;
  border-radius: var(--radius-lg);
  padding: var(--space-32);
  padding-top: 0;
}
.addEventTitle {
  margin-bottom: 20px;
  padding-left: 10px;
}

@media (max-width: 640px) {
  .addEventTitle {
    font-size: 20px;
  }
}

@media screen and (min-width: 640px) and (max-width: 900px) {
  .addEventTitle {
    padding-left: 30px;
    margin-bottom: 48px;
  }
}

@media (max-width: 760px) {
  .addEventWrapper {
    margin: 0 12px 12px 12px;
  }
}

.formGridWrapper {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  padding-top: 30px;
}
.gridItem {
  padding: 5px;
  color: var(--c-white-50);
  margin-bottom: var(--space-5);
}
.gridItem p {
  padding-bottom: 10px;
}
.span1 {
  grid-column: span 1 / span 1;
}
.span2 {
  grid-column: span 2 / span 2;
}
.span3 {
  grid-column: span 3 / span 3;
}

@media (max-width: 760px) {
  .span1 {
    grid-column: span 2 / span 2;
  }
  .span2 {
    grid-column: span 2 / span 2;
  }
}
.addEventTitleInput {
  font-size: var(--fs-h1) !important;
  font-family: var(--ff-bold) !important;
  background-color: transparent !important;
  border: none !important;
  color: var(--c-white) !important;
  padding: 12px !important;
  border-bottom: 1px solid var(--c-white-10) !important;
  border-radius: initial !important;
}

.eventTypesWrapper {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: var(--space-16);
}
.eventType {
  margin-right: var(--space-16);
  background-color: var(--c-white-10);
  color: var(--c-white);
  padding: var(--space-36);
  border-radius: var(--radius-md);
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.eventType > span {
  padding-top: var(--space-8);
}

.eventTypeSelected {
  border: 2px solid var(--c-turk);
  filter: brightness(1.1);
}
.addEventSelectInput {
  border-radius: var(--radius-md);
}
.recurringEventButtons > span {
  margin-right: var(--space-12);
}
.activeRecurringButton {
  border: 2px solid var(--c-turk) !important;
}
.passiveRecurringButton {
  background: transparent !important;
  border: 2px solid var(--c-turk) !important;
  font-family: var(--ff-regular) !important;
}
.intervalWrapper {
  margin-top: var(--space-8);
  margin-bottom: var(--space-16);
}

.activeIntervalButton {
  border: 2px solid var(--c-turk) !important;
  border-radius: var(--radius-lg);
}
.passiveIntervalButton {
  background: var(--c-white-10) !important;
  font-family: var(--ff-regular) !important;
  border-radius: var(--radius-lg);
}

.dragDropVideos {
  background: var(--c-white-10) 0% 0% no-repeat padding-box;
  text-align: center;
  vertical-align: middle;
  padding: var(--space-95);
  border-top-left-radius: var(--radius-lg);
  border-top-right-radius: var(--radius-lg);
  border-bottom-left-radius: var(--radius-md);
  border-bottom-right-radius: var(--radius-md);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: var(--space-5);
}
.marginTop {
  margin-top: var(--space-24);
}
.dragDropVideosBrowseFiles {
  font-family: var(--ff-bold);
  text-align: center;
  color: var(--c-turk) !important;
  margin-bottom: var(--space-32);
  cursor: pointer;
  text-decoration: underline;
}

.submitButtonWrapper {
  display: flex;
  justify-content: flex-end;
}
