.replyBoxWrapper {
  padding: 0;
  margin-top: var(--space-4);
  border-top-left-radius: var(--radius-lg);
  border-top-right-radius: var(--radius-lg);
  border-bottom-left-radius: var(--radius-md);
  border-bottom-right-radius: var(--radius-md);
  padding: var(--space-12);
  display: flex;
  flex-direction: row;
}
.replyContent {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.replyBody {
  background: var(--c-primary) 0% 0% no-repeat padding-box;
  border-top-left-radius: var(--radius-lg);
  border-top-right-radius: var(--radius-lg);
  border-bottom-left-radius: var(--radius-md);
  border-bottom-right-radius: var(--radius-md);
  margin-left: var(--space-8);
  margin-right: var(--space-8);
  padding: var(--space-8);
  padding-left: var(--space-16);
}
.replyActions {
  margin: var(--space-8);
  padding: var(--space-8);
  padding-left: var(--space-16);
}
.replyActions span {
  background: var(--c-primary) 0% 0% no-repeat padding-box;
  border-radius: var(--radius-md);
  padding: var(--space-8);
  margin-right: var(--space-8);
  cursor: pointer;
}
.replyActions span:hover {
  font-weight: 700;
  color: var(--c-red);
}
.replyBoxWrapper img {
  border-radius: var(--radius-xl);
  height: var(--space-48);
  width: var(--space-48);
}
.replyContent img:hover {
  cursor: pointer;
}
.replyAuthorName {
  cursor: pointer;
}
.replyAuthorName:hover {
  font-weight: bold;
}
.replyText {
  margin-top: var(--space-8);
  margin-bottom: var(--space-8);
}
