.teamhubNav {
  margin-top: 150px;
  margin-right: 240px;
}
.navList {
  list-style-type: none;
}
.navItem {
  padding: 6px 0px 6px 12px;
  border-left: 6px solid transparent;
  margin-bottom: 32px;
  cursor: pointer;
}
.selected {
  border-left: 6px solid var(--c-turk);
  color: var(--c-turk);
  font-family: var(--ff-bold);
}

@media screen and (max-width: 1684px) and (min-width: 1024px) {
  .teamhubNav {
    padding-left: 10px;
    margin-right: 200px;
  }
}

@media screen and (max-width: 1024px) and (min-width: 766px) {
  .teamhubNav {
    margin-top: 35px;
    margin-left: 20px;
  }

  .navList {
    display: flex;
    flex-direction: row;
  }
  .navItem {
    color: var(--c-white-50);
  }
  .selected {
    border: unset;
    color: var(--c-turk);
  }
}

@media screen and (max-width: 766px) and (min-width: 360px) {
  .teamhubNav {
    margin-top: 24px;
    margin-left: 12px;
    margin-right: 12px;
    width: 100%;
  }
  .navItem {
    padding: 0 32px 0 0;
    cursor: pointer;
    margin-bottom: unset;
    display: flex;
    max-height: 18px;
    min-width: fit-content;
    color: var(--c-white-50);
  }
  .selected {
    border: unset;
    color: var(--c-turk);
  }
  .navList {
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: row;
    overflow-x: scroll;
  }
  .navList::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .navList {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
