.awayKit {
    display: block;
    padding: 34px 32px;
    width: 454px;
    height: 198px;
    border-radius: 15px;
    background: rgba(20, 31, 52, 0.4);
    cursor: pointer;
}
.awayKit:hover {
    border: 3px solid #5fc4ee;
    padding: 31px 29px;
    background: rgba(20, 31, 52, 0.4);
}
.awayKit:active {
    border: 3px solid #5fc4ee;
    padding: 31px 29px;
    background: rgba(20, 31, 52, 0.4);
}
.awayKitTitle {
    font-family: 'Touche W03 Bold', 'Arial Black', sans-serif;
    font-size: 18px;
    line-height: 18px;
    text-align: left;
    color: #fff;
}
.awayKitItem {
    display: block;
    margin-top: 36px;
}
.awayKitItemAway, .awayKitItemGoalkeeper {
    display: flex;
    justify-content: space-between;
}
.awayKitItemAway {
    margin-bottom: 27px;
}
.awayKitItemAwColor {
    display: block;
    width: 32px;
    height: 32px;
    background: #e7ba19;
    border-radius: 50%;
}
.awayKitItemGkColor {
    display: block;
    width: 32px;
    height: 32px;
    background: #ff000b;
    border-radius: 50%;
}
.awayKitItemText {
    font-family: 'Touche W03 Bold', 'Arial Black', sans-serif;
    font-size: 16px;
    line-height: 30px;
    text-align: left;
    color: #fff;
    opacity: 1;
}
.activeKit {
    border: 3px solid #5fc4ee;
    padding: 31px 29px;
    background: rgba(37, 64, 115, 0.4);
}
@media only screen and (max-width: 600px) {
    .awayKit {
        width: 300px;
        margin-bottom: 20px;
        padding: 22px 20px;
        height: 170px;
    }
    .awayKit:hover {
        padding: 19px 17px;
        border: 3px solid #5fc4ee;
        background: rgba(20, 31, 52, 0.4);
    }
    .awayKitItem {
        margin-top: 18px;
    }
    .awayKitItemAway {
        margin-bottom: 18px;
    }
    .activeKit {
        border: 3px solid #5fc4ee;
        padding: 19px 17px;
    }
}
@media only screen and (min-width: 600px) {
    .awayKit {
        width: 300px;
        margin-bottom: 20px;
        padding: 22px 20px;
        height: 170px;
    }
    .awayKit:hover {
        padding: 19px 17px;
        border: 3px solid #5fc4ee;
        background: rgba(20, 31, 52, 0.4);
    }
    .awayKitItem {
        margin-top: 18px;
    }
    .awayKitItemAway {
        margin-bottom: 18px;
    }
    .activeKit {
        border: 3px solid #5fc4ee;
        padding: 19px 17px;
    }
}
@media only screen and (min-width: 1200px) {
    .awayKit {
        width: 380px;
        padding: 22px 20px;
    }
    .awayKit:hover,
    .awayKit:active {
        padding: 19px 17px;
        border: 3px solid #5fc4ee;
        background: rgba(20, 31, 52, 0.4);
    }
    .awayKitItem {
        margin-top: 18px;
    }
    .awayKitItemAway {
        margin-bottom: 18px;
    }
    .activeKit {
        border: 3px solid #5fc4ee;
        padding: 19px 17px;
    }
}






