.awayKit {
  display: block;
  padding: var(--space-32) var(--space-32);
  width: var(--container-md);
  height: 198px;
  border-radius: var(--radius-lg);
  background: rgba(20, 31, 52, 0.4);
  cursor: pointer;
}
.awayKit:hover {
  border: var(--border-3) solid var(--c-turk);
  padding: 31px 29px;
  background: rgba(20, 31, 52, 0.4);
}
.awayKit:active {
  border: var(--border-3) solid var(--c-turk);
  padding: 31px 29px;
  background: rgba(20, 31, 52, 0.4);
}
.awayKitTitle {
  line-height: 18px;
  text-align: left;
}
.awayKitItem {
  display: block;
  margin-top: 36px;
}
.awayKitItemAway,
.awayKitItemGoalkeeper {
  display: flex;
  justify-content: space-between;
}
.awayKitItemAway {
  margin-bottom: 27px;
}
.awayKitItemAwColor {
  display: block;
  width: var(--space-32);
  height: var(--space-32);
  background: var(--c-yellow);
  border-radius: var(--radius-full);
}
.awayKitItemGkColor {
  display: block;
  width: var(--space-32);
  height: var(--space-32);
  background: var(--c-red);
  border-radius: var(--radius-full);
}
.awayKitItemText {
  font-family: var(--ff-bold);
  line-height: 30px;
  text-align: left;
}
.activeKit {
  border: var(--border-3) solid var(--c-turk);
  padding: 31px 29px;
  background: rgba(37, 64, 115, 0.4);
}
@media only screen and (max-width: 600px) {
  .awayKit {
    width: 300px;
    margin-bottom: 20px;
    padding: 22px 20px;
    height: 170px;
  }
  .awayKit:hover {
    padding: 19px 17px;
    border: var(--border-3) solid var(--c-turk);
    background: rgba(20, 31, 52, 0.4);
  }
  .awayKitItem {
    margin-top: 18px;
  }
  .awayKitItemAway {
    margin-bottom: 18px;
  }
  .activeKit {
    border: var(--border-3) solid var(--c-turk);
    padding: 19px 17px;
  }
}
@media only screen and (min-width: 600px) {
  .awayKit {
    width: 300px;
    margin-bottom: 20px;
    padding: 22px 20px;
    height: 170px;
  }
  .awayKit:hover {
    padding: 19px 17px;
    border: var(--border-3) solid var(--c-turk);
    background: rgba(20, 31, 52, 0.4);
  }
  .awayKitItem {
    margin-top: 18px;
  }
  .awayKitItemAway {
    margin-bottom: 18px;
  }
  .activeKit {
    border: var(--border-3) solid var(--c-turk);
    padding: 19px 17px;
  }
}
@media only screen and (min-width: 1200px) {
  .awayKit {
    width: 380px;
    padding: 22px 20px;
  }
  .awayKit:hover,
  .awayKit:active {
    padding: 19px 17px;
    border: var(--border-3) solid var(--c-turk);
    background: rgba(20, 31, 52, 0.4);
  }
  .awayKitItem {
    margin-top: 18px;
  }
  .awayKitItemAway {
    margin-bottom: 18px;
  }
  .activeKit {
    border: var(--border-3) solid var(--c-turk);
    padding: 19px 17px;
  }
}
