.clubCrestFullScreen {
  min-width: 550px;
  min-height: 550px;
}
.clubHeaderWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
}
.clubCrestWrapper {
  position: relative;
  min-width: 250px;
}
.clubCrest {
  width: 250px;
  cursor: pointer;
  border-radius: 50%;
  border: 5px solid var(--c-white-70);
  background-color: var(--c-white-70);
}
.clubHeaderDetailsWrapper {
  margin-left: var(--space-32);
  display: flex;
  flex-direction: column;
  width: 100%;
}
.clubHeaderTitleWrapper {
  border-bottom: 5px solid var(--c-white-70);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.clubHeaderTitleWrapper > h1 {
  margin-bottom: var(--space-10);
}
.clubHeaderAdminActionButtons {
  display: flex;
}
.clubHeaderActionButtons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: var(--space-20);
}
.clubHeaderActionButtons > button {
  margin-right: var(--space-10);
}
.clubMembersBlock {
  margin-top: var(--space-50);
}
.clubMembershipWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.clubMembershipStatusWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.clubMembershipStatus {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  border-radius: var(--radius);
  padding: var(--space-3) var(--space-5);
  margin-left: var(--space-5);
  text-transform: capitalize;
}
.activeMemberShip {
  background-color: var(--c-green);
}
.suspendedMemberShip {
  background-color: var(--c-yellow);
  color: var(--c-black);
}
.unapprovedMemberShip {
  background-color: var(--c-red);
}
.clubMembersWrapper {
  width: 100%;
  background-color: var(--c-white-05);
  padding: var(--space-16);
  border-radius: var(--radius);
  margin-top: var(--space-5);
}
.clubMembers {
  width: 100%;
  margin-top: var(--space-8);
  margin-bottom: var(--space-8);
  padding: var(--space-8);
  border-radius: var(--radius);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  max-height: 280px;
  overflow-y: scroll;
}
.clubMembers::-webkit-scrollbar-track {
  background-color: transparent;
}
.clubMemberCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: var(--radius-md);
  background-color: var(--c-primary);
  margin: var(--space-5);
  padding: var(--space-16) var(--space-10);
  width: 48%;
  transition: 0.1s ease;
}
.clubMemberCard:hover {
  transform: scale(0.98);
  box-shadow: 0px 3px 15px rgba(255, 255, 255, 0.1);
}
.clubMemberImage {
  border-radius: 50%;
  height: 55px;
  width: 55px;
  max-width: 55px;
  max-height: 55px;
  cursor: pointer;
}
.clubMemberInfoWrapper {
  margin-right: auto;
  margin-left: var(--space-10); /*temp: use spacer */
}
.clubMemberName {
  cursor: pointer;
  transition: 0.1s ease;
  text-transform: capitalize;
}
.clubMemberRolesWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.clubMemberRole {
  color: var(--c-black);
  background-color: var(--c-turk);
  padding: 2px 10px;
  border-radius: var(--radius);
  font-size: var(--fs-small);
  margin-top: var(--space-3);
  margin-right: var(--space-3);
  text-transform: capitalize;
}
.clubMemberActionButtons {
  margin-left: auto;
}
.clubMemberActionButtons > span {
  cursor: pointer;
  padding: var(--space-5);
}
.clubMembersNone {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--space-32);
  color: var(--c-white-70);
}
.clubMembersNone > span {
  color: var(--c-turk);
}
.clubTeamsBlock {
  margin-top: var(--space-50);
}
.clubTeamshipWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.clubTeamshipStatusWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.clubTeamshipStatus {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  border-radius: var(--radius);
  padding: var(--space-3) var(--space-5);
  margin-left: var(--space-5);
  text-transform: capitalize;
}
.activeMemberShip {
  background-color: var(--c-green);
}
.suspendedMemberShip {
  background-color: var(--c-yellow);
  color: var(--c-black);
}
.unapprovedMemberShip {
  background-color: var(--c-red);
}
.clubTeamsWrapper {
  width: 100%;
  background-color: var(--c-white-05);
  padding: var(--space-16);
  border-radius: var(--radius);
  margin-top: var(--space-5);
}
.clubTeams {
  width: 100%;
  margin-top: var(--space-8);
  margin-bottom: var(--space-8);
  padding: var(--space-8);
  border-radius: var(--radius);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  max-height: 280px;
  overflow-y: scroll;
}
.clubTeams::-webkit-scrollbar-track {
  background-color: transparent;
}
.clubTeamCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: var(--radius-md);
  background-color: var(--c-primary);
  margin: var(--space-5);
  padding: var(--space-16) var(--space-10);
  width: 48%;
  transition: 0.1s ease;
}
.clubTeamCard:hover {
  transform: scale(0.98);
  box-shadow: 0px 3px 15px rgba(255, 255, 255, 0.1);
}
.clubTeamImage {
  border-radius: 50%;
  height: 55px;
  width: 55px;
  max-width: 55px;
  max-height: 55px;
  cursor: pointer;
}
.clubTeamInfoWrapper {
  margin-right: auto;
  margin-left: var(--space-10); /*temp: use spacer */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.clubTeamName {
  cursor: pointer;
  transition: 0.1s ease;
  text-transform: capitalize;
}
.clubTeamRolesWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.clubTeamRole {
  color: var(--c-black);
  background-color: var(--c-turk);
  padding: 2px 10px;
  border-radius: var(--radius);
  font-size: var(--fs-small);
  margin-top: var(--space-3);
  margin-right: var(--space-3);
  text-transform: capitalize;
}
.clubTeamActionButtons {
  margin-left: auto;
}
.clubTeamActionButtons > span {
  cursor: pointer;
  padding: var(--space-5);
}
.clubTeamsNone {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--space-32);
  color: var(--c-white-70);
}
.clubTeamsNone > span {
  color: var(--c-turk);
}

@media screen and (max-width: 830px) and (min-width: 510px) {
  .clubMemberCard {
    display: flex;
    align-items: center;
    border-radius: var(--radius-md);
    width: 100%;
    padding: var(--space-16) var(--space-10);
    transition: 0.1s ease;
  }

  .clubTeamCard{
    display: flex;
    align-items: center;
    border-radius: var(--radius-md);
    width: 100%;
    padding: var(--space-16) var(--space-10);
    transition: 0.1s ease;
  }

}

@media screen and  (max-width: 680px) and (min-width: 360px){
  .clubCrest{
    width: 150px; 
  }
  .clubCrestWrapper {
    min-width: 0;
  }
  .clubHeaderTitleWrapper {
    border-bottom: 5px solid var(--c-white-70);
    width: 100%;
  }
  .clubHeaderWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .clubHeaderDetailsWrapper {
    margin-left: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

@media screen and  (max-width: 360px) and (min-width: 280px){
  .clubCrest{
    width: 150px; 
  }
  .clubCrestWrapper {
    min-width: 0;
    padding: 10px;
  }
  .clubHeaderTitleWrapper {
    border-bottom: 5px solid var(--c-white-70);
    width: 100%;
    padding: 10px;
  }
  .clubHeaderWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
  }
  .clubHeaderDetailsWrapper {
    margin-left: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}




@media screen and (max-width: 510px) and (min-width: 460px) {
  .clubCrest{
    width: 150px; 
  }
  .clubCrestWrapper {
    min-width: 0;
  }
  
  .clubHeaderDetailsWrapper {
    margin-left: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
   .clubMemberCard {
      display: flex;
      flex-direction: column;
      border-radius: var(--radius-md);
      background-color: var(--c-primary);
      margin: var(--space-5);
      padding: var(--space-16) var(--space-10);
      transition: 0.1s ease;
      width: 100%;
    }
    .clubMemberRolesWrapper {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      align-content: center;
      width: 100%;
    }
    .clubMemberInfoWrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      align-content: center;
    }
     .clubTeamCard {
     display: flex;
      flex-direction: column;
      border-radius: var(--radius-md);
      background-color: var(--c-primary);
      margin: var(--space-5);
      padding: var(--space-16) var(--space-10);
      transition: 0.1s ease;
      width: 100%;
    }
    .clubTeamInfoWrapper{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      align-content: center;
    }
}

@media screen and (max-width: 460px) {
   .clubMemberCard {
      display: flex;
      flex-direction: column;
      border-radius: var(--radius-md);
      background-color: var(--c-primary);
      margin: var(--space-5) 0;
      padding: var(--space-16) 0;
      transition: 0.1s ease;
      width: 100%;
    }
    .clubMemberRolesWrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
    }

     .clubMemberInfoWrapper {
      display: flex;
      margin-right: auto;
      margin-left: auto;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
    .clubMembersWrapper {
      width: 100%;
      background-color: var(--c-white-05);
      padding: 5px;
      border-radius: var(--radius);
    }
    .clubTeamCard {
     display: flex;
      flex-direction: column;
      border-radius: var(--radius-md);
      background-color: var(--c-primary);
      margin: var(--space-5) 0;
      padding: var(--space-16) 0;
      transition: 0.1s ease;
      width: 100%;
    }

    .clubTeamInfoWrapper{
       display: flex;
      margin-right: auto;
      margin-left: auto;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
}

