.bankcard {
  background: var(--c-white-05) 0% 0% no-repeat padding-box;
  border-radius: var(--radius-md);
  padding: var(--space-16);
  font-size: var(--fs-small);
  display: flex;
  justify-content: space-between;
}

.bankcardExp {
  display: flex;
  padding-top: var(--space-16);
  padding-bottom: var(--space-12);
}
.bankcardExp p {
  padding-left: 2px;
}
.deleteIcon {
  display: flex;
  justify-content: flex-end;
  margin-top: var(--space-8);
  cursor: pointer;
}
