.join {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--container-lg);
  padding-top: var(--space-50);
}
.joinHeader {
  display: flex;
  justify-content: space-between;
}
.joinHeader .skip {
  border: none;
  background-color: transparent;
  color: var(--c-white-50);
  cursor: pointer;
}
.joinHeader .skip:hover {
  color: var(--c-white);
}
.joinHeaderInner {
  display: flex;
  height: max-content;
  align-items: center;
  position: relative;
}
.joinHeaderCurrent {
  display: flex;
  align-items: center;
}
.joinHeaderCurrent img {
  cursor: pointer;
  margin-left: var(--space-16);
  margin-right: var(--space-6);
}
.joinHeaderCurrent span {
  cursor: pointer;
}
.joinHeaderInner button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  left: -26px;
}
.joinHeaderInner h1 {
  display: flex;
}

.registerButton {
  display: flex;
  justify-content: flex-end;
}
.registerText {
  display: flex;
  justify-content: center;
  padding-top: var(--space-24);
  padding-bottom: var(--space-24);
}
.joinListContent {
  height: 500px;
  overflow-y: scroll;
  overflow-x: hidden;
  margin: var(--space-16) auto;
  margin-bottom: var(--space-50);
}
.joinListContent::-webkit-scrollbar-track {
  padding: var(--space-1) 0;
  background-color: transparent;
}
.joinListContent:-webkit-scrollbar {
  width: 1px !important;
}
.joinListContent::-webkit-scrollbar-thumb {
  border-radius: var(--radius-md);
  box-shadow: inset 0 0 6px var(--c-white-30);
  background-color: var(--c-turk);
  border: none;
}
.joinListItem {
  margin-bottom: var(--space-32);
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: 0.3s ease;
}
.joinListItem:hover {
  transform: scale(1.05);
  margin-left: 25px;
}
.joinListItem:last-child {
  margin-bottom: 120px;
}
.joinListItem img {
  margin-right: var(--space-6);
  height: var(--space-24);
  width: var(--space-24);
}
.mobileCurrent {
  display: none;
}
.mobileButtons {
  display: none;
}
.selectedClubImage {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.crestImage {
  border-radius: 50%;
}
.skipButtonWrapper {
  display: flex;
  align-items: center;
  justify-content: end;
}
.joinListNoItems {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: var(--space-16);
  padding: var(--space-50);
  background-color: var(--c-white-05);
  border-radius: var(--radius-md);
}
.joinListNoItemsClubName {
  cursor: pointer;
  color: var(--c-turk);
  margin-left: var(--space-5);
  margin-right: var(--space-5);
}
.joinListNoItemsCTA {
  color: var(--c-turk);
  transition: 0.1s ease;
}
.clubAndTeamRegisteration {
  margin-top: var(--space-10);
}
.joinListItemJoinedByAuthUser {
  background-color: var(--c-turk);
  color: var(--c-black);
  border-radius: var(--radius);
  padding: 2px 5px;
  margin-left: var(--space-16);
  text-transform: capitalize;
}

@media screen and (max-width: 1024px) and (min-width: 766px) {
  .join {
    padding: var(--space-30);
  }
  .joinHeaderInner h1 {
    text-align: center;
  }
}
@media screen and (max-width: 760px) and (min-width: 360px) {
  .join {
    margin-top: var(--space-24);
    padding: var(--space-24);
  }
  .join .joinHeaderInner .joinHeaderCurrent {
    padding: 10px;
  }
  .back {
    display: none;
  }
  .skip {
    display: none;
  }
  .joinHeader {
    display: flex;
    justify-content: center;
  }
  .joinHeaderCurrent {
    display: none;
  }
  .mobileCurrent {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .mobileCurrent p {
    padding-top: var(--space-10);
  }
  .mobileButtons {
    padding-top: var(--space-24);
    display: flex;
    justify-content: space-between;
  }
  .mobileButtons button {
    background-color: none;
  }
}
