.profilePhotosItem {
  margin-top: var(--space-30);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.profilePhotosItem video {
  height: 292px;
  width: 292px;
  border-radius: var(--space-16);
  object-fit: cover;
}
.loadingPost {
  height: 292px;
  width: 292px;
  border-radius: var(--space-16);
  object-fit: cover;
  background: linear-gradient(0.25turn, transparent, #fff);
  background-repeat: no-repeat;
  background-size: 292px 292px;
  animation: loading 1.5s infinite;
}
@keyframes loading {
  to {
    background-position: 292px 0;
  }
}
.hidden {
  display: none;
}
.profilePhotosItem img {
  height: 292px;
  width: 292px;
  border-radius: var(--space-16);
  object-fit: cover;
}
.profilePhotosItem:hover .profilePhotosOptions {
  display: flex;
}
.profilePhotosItem .profilePhotosOptions {
  display: none;
  align-items: center;
  position: absolute;
}

.profilePhotosItem .profilePhotosOptions a {
  margin-right: var(--space-16);
  background-color: var(--c-black-50);
  border-radius: var(--radius-full);
  padding: var(--space-16);
  width: var(--space-64);
  height: var(--space-64);
  display: flex;
  align-items: center;
  justify-content: center;
}
.profilePhotosItem .profilePhotosOptions img:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
