.relatedMediaItem {
  margin-top: var(--space-12);
  margin-right: var(--space-12);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  cursor: pointer;
  position: relative;
}
.relatedMediaItem video {
  height: 150px;
  width: 150px;
  border-radius: var(--space-16);
  object-fit: cover;
}
.relatedMediaItem img {
  height: 150px;
  width: 150px;
  border-radius: var(--space-16);
  object-fit: cover;
}
.relatedMediaPicker {
  height: 150px;
  width: 150px;
  border-radius: var(--space-16);
  background: var(--c-white-10) 0% 0% no-repeat padding-box;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mediaCloseIcon {
  cursor: pointer;
  position: absolute;
  right: -10px;
  top: -10px;
}
.parentMediaItem {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.parentMediaItem video {
  max-height: 500px;
  width: 100%;
  border-radius: var(--space-16);
  object-fit: cover;
}
.parentMediaItem img {
  height: 400px;
  width: 100%;
  border-radius: var(--space-16);
  object-fit: cover;
  object-position: top;
}
