.progress {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding: 100px;
}
.progress p {
  padding-top: 12px;
}
@media screen and (max-width: 766px) and (min-width: 360px) {
  .progress {
    margin-bottom: 150px;
  }
}
