.event {
  max-width: var(--container-lg);
}
.event h1 {
  padding-bottom: 20px;
}
.eventHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.draft {
  font-family: var(--ff-bold);
  color: var(--c-turk);
  display: flex;
  align-items: center;
  cursor: pointer;
}
.draft p {
  padding-left: 3px;
}

.eventCardsRow {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 32px;
  margin-top: 24px;
  margin-bottom: 200px;
}

@media screen and (max-width: 1280px) and (min-width: 1024px) {
  .event {
    max-width: 70%;
    padding-right: 24px;
  }
}

@media screen and (max-width: 1024px) and (min-width: 850px) {
  .event {
    flex-direction: column;
  }
  .event h1 {
    display: none;
  }
  .draft {
    display: none;
  }
  .eventCardsRow {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    padding: 24px;
    margin-top: unset;
    margin-bottom: unset;
  }
}

@media screen and (max-width: 850px) and (min-width: 360px) {
  .event h1 {
    display: none;
  }
  .draft {
    display: none;
  }
  .eventCardsRow {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    padding: 12px;
    margin-top: unset;
    margin-bottom: unset;
  }
}
