/* ---------------------- ACCOUNT CONFIRMATION ----------------------*/
.confirm_block {
  display: block;
  width: 454px;
  margin: 215px auto 0;

  .title {
    font-family: 'Touche W03 Bold', 'Arial Black', sans-serif;
    font-size: 32px;
    line-height: 32px;
    text-align: center;
    color: #fff;
  }
  .text_block {
    display: block;
    margin: 25px auto 64px;

    .text {
      font-family: 'Touche W03 Regular', 'Arial', sans-serif;
      font-size: 16px;
      line-height: 24px;
      text-align: justify;
      color: #fff;
      opacity: 0.5;

      .conf_email {
        color: #1ea7fd;
      }
    }
  }
  .btn_confirm {
    display: flex;
    justify-content: center;
    width: 142px;
    margin: 24px auto 0;
  }
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .confirm_block {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    .title {
      font-size: 38px;
      line-height: 45px;
    }
    .text_block {
      margin: 25px auto 40px;
      .text {
        font-size: 16px;
        line-height: 24px;
        text-align: center;
      }
    }
    .btn_confirm {
      width: 100%;
    }
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .confirm_block {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto 0;
    .title {
      font-size: 38px;
      line-height: 45px;
    }
    .text_block {
      margin: 25px auto 40px;
      .text {
        font-size: 16px;
        line-height: 24px;
        text-align: center;
      }
    }
    .btn_confirm {
      width: 100%;
      margin-bottom: 30px;
    }
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .confirm_block {
    width: 80%;
    padding: 0 15px;
    margin: 0 auto 0;
    .title {
      font-size: 38px;
      line-height: 45px;
      margin: 0 auto 5px;
    }
    .text_block {
      margin: 25px auto 40px;
      .text {
        font-size: 16px;
        line-height: 24px;
        text-align: center;
      }
    }
    .btn_confirm {
      width: 100%;
      margin-bottom: 30px;
    }
  }
}
/* Medium devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .confirm_block {
    width: 70%;
    padding: 0 15px;
    margin: 0 auto 0;
    .title {
      font-size: 38px;
      line-height: 45px;
    }
    .text_block {
      margin: 25px auto 40px;
      .text {
        font-size: 16px;
        line-height: 24px;
        text-align: center;
      }
    }
    .btn_confirm {
      width: 100%;
      margin-bottom: 30px;
    }
  }
}
/* Large devices (laptops and desktops, 1280px x 720px and up) */
@media only screen and (min-width: 1200px) {
  .confirm_block {
    width: 80%;
    padding: 0;
    margin: 130px auto 0;
    .title {
      font-size: 32px;
      line-height: 32px;
      margin: 0 auto 32px;
    }
    .text_block {
      margin: 25px auto 64px;
      .text {
        font-size: 16px;
        line-height: 24px;
        text-align: center;
      }
    }
    .btn_confirm {
      width: 100%;
      margin-bottom: 30px;
    }
  }
}
/* Large devices (large laptops and desktops, 1366px x 768px(height) and up) */
@media only screen and (min-width: 1366px) {
  .confirm_block {
    width: 80%;
    padding: 0;
    margin: 150px auto 0;
    .title {
      font-size: 32px;
      line-height: 32px;
      margin: 0 auto 32px;
    }
    .text_block {
      margin: 25px auto 64px;
      .text {
        font-size: 16px;
        line-height: 24px;
        text-align: center;
      }
    }
    .btn_confirm {
      width: 100%;
      margin-bottom: 30px;
    }
  }
}
/* Extra large devices (large laptops and desktops, 1440px x 900px(height) and up) */
@media only screen and (min-width: 1440px) {
  .confirm_block {
    width: 80%;
    margin: 217px auto 0;
    .title {
      font-size: 32px;
      line-height: 32px;
      margin: 0 auto 32px;
    }
    .text_block {
      margin: 25px auto 64px;
      .text {
        font-size: 16px;
        line-height: 24px;
        text-align: center;
      }
    }
    .btn_confirm {
      width: 100%;
      margin-bottom: 30px;
    }
  }
}
/* Extra large devices (large laptops and desktops, 1920px x 1080px(height) and up) */
@media only screen and (min-width: 1920px) {
  .confirm_block {
    width: 454px;
    padding: 0;
    margin: 217px auto 0;
    .title {
      font-size: 32px;
      line-height: 32px;
      margin: 0 auto 32px;
    }
    .text_block {
      margin: 25px auto 64px;
      .text {
        font-size: 16px;
        line-height: 24px;
        text-align: center;
      }
    }
    .btn_confirm {
      width: 142px;
      margin: 24px auto 30px;
    }
  }
}
