/* -----------------------BUTTON---------------------------------*/
.btn {
  padding: 16px 0 16px;
  width: 142px;
  border-radius: 10px;
  background: #5fc4ee; /* 95, 196, 238*/
  outline: none;
  /*border: 1px solid rgb(250,172,17)*/
  border-color: transparent;
  &:active {
    border-color: rgba(0, 0, 0, .3);
    box-shadow: 0 0 40px rgba(0, 0, 0, .2) inset;
  }
  .contTxt {
    font-family: 'Touche W03 Bold', sans-serif;
    font-size: 16px;
    line-height: 17px;
    text-align: center;
    color: #fff;
  }
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .btn {
    width: 180px;
    .contTxt {
      font-size: 25px;
      line-height: 35px;
    }
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .btn {
    width: 40%;
    .contTxt {
      font-size: 25px;
      line-height: 35px;
    }
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}
/* Medium devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}
/* Large devices (laptops and desktops, 1280px x 720px and up) */
@media only screen and (min-width: 1200px) {
  .btn {
    width: 142px;
    .contTxt {
      font-size: 16px;
      line-height: 17px;
    }
  }
}
/* Large devices (large laptops and desktops, 1366px x 768px(height) and up) */
@media only screen and (min-width: 1366px) {
  .btn {
    width: 142px;
    .contTxt {
      font-size: 16px;
      line-height: 17px;
    }
  }
}
/* Extra large devices (large laptops and desktops, 1440px x 900px(height) and up) */
@media only screen and (min-width: 1440px) {
  .btn {
    width: 142px;
    .contTxt {
      font-size: 16px;
      line-height: 17px;
    }
  }
}
/* Extra large devices (large laptops and desktops, 1920px x 1080px(height) and up) */
@media only screen and (min-width: 1920px) {
  .btn {
    width: 142px;
    .contTxt {
      font-size: 16px;
      line-height: 17px;
    }
  }
}
