@font-face {font-family: "Touche W03 Regular";
  src: url("/fonts/89d8fba73b6d10c300478fad02d4871d.eot"); /* IE9*/
  src: url("/fonts/89d8fba73b6d10c300478fad02d4871d.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("/fonts/89d8fba73b6d10c300478fad02d4871d.woff2") format("woff2"), /* chrome、firefox */
  url("/fonts/89d8fba73b6d10c300478fad02d4871d.woff") format("woff"), /* chrome、firefox */
  url("/fonts/89d8fba73b6d10c300478fad02d4871d.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("/fonts/89d8fba73b6d10c300478fad02d4871d.svg#Touche W03 Regular") format("svg"); /* iOS 4.1- */
}

@font-face {font-family: "Touche W03 Bold";
  src: url("/fonts/6ff35b8857ed1d3bf6a3cc93164ff962.eot"); /* IE9*/
  src: url("/fonts/6ff35b8857ed1d3bf6a3cc93164ff962.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("/fonts/6ff35b8857ed1d3bf6a3cc93164ff962.woff2") format("woff2"), /* chrome、firefox */
  url("/fonts/6ff35b8857ed1d3bf6a3cc93164ff962.woff") format("woff"), /* chrome、firefox */
  url("/fonts/6ff35b8857ed1d3bf6a3cc93164ff962.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("/fonts/6ff35b8857ed1d3bf6a3cc93164ff962.svg#Touche W03 Bold") format("svg"); /* iOS 4.1- */
}

