@font-face {font-family: "Touche W03 Regular";
  src: url("fonts/Touche W03 Regular.eot"); /* IE9*/
  src: url("fonts/Touche W03 Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("fonts/Touche W03 Regular.woff2") format("woff2"), /* chrome、firefox */
  url("fonts/Touche W03 Regular.woff") format("woff"), /* chrome、firefox */
  url("fonts/Touche W03 Regular.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("fonts/Touche W03 Regular.svg#Touche W03 Regular") format("svg"); /* iOS 4.1- */
  font-style: normal;
  font-weight: 400;
}

@font-face {font-family: "Touche W03 Bold";
  src: url("fonts/Touche W03 Bold.eot"); /* IE9*/
  src: url("fonts/Touche W03 Bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("fonts/Touche W03 Bold.woff2") format("woff2"), /* chrome、firefox */
  url("fonts/Touche W03 Bold.woff") format("woff"), /* chrome、firefox */
  url("fonts/Touche W03 Bold.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("fonts/Touche W03 Bold.svg#Touche W03 Bold") format("svg"); /* iOS 4.1- */
  font-style: normal;
  font-weight: 700;
}

