.notifications {
  display: flex;
  align-items: center;
  .notificiation__item {
    margin-right: 16px;
    padding: 10px;
    background-color: #192745;
    border-radius: 100px;
    cursor: pointer;
  }
}
@media (max-width: 640px) {
  .notifications {
    display: flex;
    float: right;
    padding-right: 10px;
  }
}
