.oval__button {
    background-color: #0d0d0d;
    color: white;
    border-radius: 10px;
    padding: 12px 20px 12px 20px;
    font-size: 16px;
    font-family: "Touche W03 Regular", "Arial", sans-serif;
    display: flex;
    align-items: center;
    border: 0px;
    img {
        padding-right: 6px;
    }
    &:hover {
        opacity: 0.7;
    }
}