/* -------------------------- Sign Up --------------------------*/
.signup-block {
  display: block;
  width: 454px;
  margin: 96px auto 0;
  .title {
    font-family: 'Touche W03 Bold', 'Arial Black', sans-serif;
    font-size: 32px;
    line-height: 32px;
    text-align: center;
    color: #fff;
    margin: 0 auto 64px;
  }
  .signup__form {
    display: block;
    width: 100%;
    height: 228px;
    font-size: 0;
  }
  .signup__form-act {
    display: flex;
    flex-direction: row-reverse;
    height: 52px;

    padding: 0 15px;
    //margin-left: 297px;
    margin-top: 24px;
  }
  .devide-block {
    display: flex;
    justify-content: space-between;
    width: 454px;
    height: 20px;
    margin-top: 48px;
    .devide-line {
      width: 193px;
      height: 1px;
      background: #fff;
      opacity: 0.2;
      margin: 8px 0;
    }
    .devide-text {
      display: block;
      width: 68px;
      height: 20px;
      font-family: 'Touche W03 Regular', 'Arial', sans-serif;
      font-size: 16px;
      line-height: 16px;
      text-align: center;
      color: #fff;
      opacity: 0.5;
      margin: auto 0;
    }
  }
  .social-signin {
    display: flex;
    justify-content: space-between;
    width: 116px;
    height: 42px;
    margin: 32px auto 0;

    .signin-facebook {
      width: 42px;
      height: 42px;
    }
    .signin-google {
      width: 42px;
      height: 42px;
    }
  }
  .to-login {
    display: block;
    position: relative;
    width: 100%;
    font-family: 'Touche W03 Bold', sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 17px;
    text-align: center;
    color: #5fc4ee;
    margin-top: 73px;
    margin-bottom: 64px;
  }
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .signup-block {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    .title {
      font-size: 38px;
      line-height: 45px;
      margin: 0 auto 5px;
    }
    .signup__form {
      height: 282px;
    }
    .signup__form-act {
      margin-top: 0;
      height: 71px;
      margin-bottom: 15px;
    }
    .devide-block {
      width: 80%;
      padding: 0 15px;
      margin: 20px auto 0;
      .devide-line {
        width: 40%;
      }
      .devide-text {
        font-size: 1.3rem;
        line-height: 1rem;
      }
    }
    .social-signin {
      width: 130px;
      height: 50px;
      margin: 22px auto 0;
    }
    .to-login {
      font-size: 1.15rem;
      line-height: 1.6rem;
      margin: 30px auto 20px;
    }
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .signup-block {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    .title {
      font-size: 38px;
      line-height: 45px;
      margin: 0 auto 5px;
    }
    .signup__form {
      height: 282px;
    }
    .signup__form-act {
      justify-content: center;
      margin-top: 0;
      height: 71px;
      margin-bottom: 15px;
    }
    .devide-block {
      width: 80%;
      padding: 0 15px;
      margin: 20px auto 0;
      .devide-line {
        width: 40%;
      }
    }
    .social-signin {
      width: 130px;
      height: 50px;
      margin: 22px auto 0;
    }
    .to-login {
      font-size: 1.15rem;
      line-height: 1.6rem;
      margin: 30px auto 20px;
    }
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}
/* Medium devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}
/* Large devices (laptops and desktops, 1280px x 720px and up) */
@media only screen and (min-width: 1200px) {
  .signup-block {
    width: 80%;
    padding: 0;
    margin: 50px auto 0;
    .title {
      font-size: 32px;
      line-height: 32px;
      margin: 0 auto 32px;
    }
    .signup__form {
      height: 228px;
    }
    .signup__form-act {
      justify-content: flex-start;
      margin-top: 0;
      height: 53px;
      margin-bottom: 15px;
    }
    .devide_block {
      width: 100%;
      padding: 0 15px;
      margin: 20px auto 0;
      .devide_line {
        width: 40%;
      }
      .devide-text {
        font-size: 16px;
        line-height: 16px;
      }
    }
    .social-signin {
      width: 116px;
      height: 42px;
      margin: 20px auto 0;
      .signin-facebook,
      .signin-google {
        width: 42px;
        height: 42px;
      }
    }
    .to-login {
      font-size: 16px;
      line-height: 17px;
      margin: 60px auto 0;
    }
  }
}
/* Large devices (large laptops and desktops, 1366px x 768px(height) and up) */
@media only screen and (min-width: 1366px) {
  .signup-block {
    width: 80%;
    padding: 0;
    margin: 50px auto 0;
    .title {
      font-size: 32px;
      line-height: 32px;
      margin: 0 auto 64px;
    }
    .signup__form {
      height: 228px;
    }
    .signup__form-act {
      justify-content: flex-start;
      margin-top: 0;
      height: 53px;
      margin-bottom: 15px;
    }
    .devide_block {
      width: 100%;
      padding: 0 15px;
      margin: 42px auto 0;
      .devide_line {
        width: 40%;
      }
      .devide-text {
        font-size: 16px;
        line-height: 16px;
      }
    }
    .social-signin {
      width: 116px;
      height: 42px;
      margin: 20px auto 0;
      .signin-facebook,
      .signin-google {
        width: 42px;
        height: 42px;
      }
    }
    .to-login {
      font-size: 16px;
      line-height: 17px;
      margin: 75px auto 0;
    }
  }
}
/* Extra large devices (large laptops and desktops, 1440px x 900px(height) and up) */
@media only screen and (min-width: 1440px) {
  .signup-block {
    width: 80%;
    padding: 0;
    margin: 75px auto 0;
    .title {
      font-size: 32px;
      line-height: 32px;
      margin: 0 auto 64px;
    }
    .signup__form {
      height: 228px;
    }
    .signup__form-act {
      justify-content: flex-start;
      margin-top: 24px;
      height: 53px;
      margin-bottom: 0;
    }
    .devide_block {
      width: 100%;
      padding: 0 15px;
      margin: 48px auto 0;
      .devide_line {
        width: 40%;
      }
      .devide-text {
        font-size: 16px;
        line-height: 16px;
      }
    }
    .social-signin {
      width: 116px;
      height: 42px;
      margin: 32px auto 0;
      .signin-facebook,
      .signin-google {
        width: 42px;
        height: 42px;
      }
    }
    .to-login {
      font-size: 16px;
      line-height: 17px;
      margin: 90px auto 0;
    }
  }
}
/* Extra large devices (large laptops and desktops, 1920px x 1080px(height) and up) */
@media only screen and (min-width: 1920px) {
  .signup-block {
    width: 80%;
    padding: 0;
    margin: 96px auto 0;
    .title {
      font-size: 32px;
      line-height: 32px;
      margin: 0 auto 64px;
    }
    .signup__form {
      height: 228px;
    }
    .signup__form-act {
      justify-content: flex-start;
      margin-top: 24px;
      height: 53px;
      margin-bottom: 0;
    }
    .devide_block {
      width: 100%;
      padding: 0 15px;
      margin: 48px auto 0;
      .devide_line {
        width: 40%;
      }
      .devide-text {
        font-size: 16px;
        line-height: 16px;
      }
    }
    .social-signin {
      width: 116px;
      height: 42px;
      margin: 32px auto 0;
      .signin-facebook,
      .signin-google {
        width: 42px;
        height: 42px;
      }
    }
    .to-login {
      font-size: 16px;
      line-height: 17px;
      margin: 73px auto 0;
    }
  }
}
