/* --------------------SOCIAL SIGNIN G ---------------------*/
.social_sign-block {
  display: block;
  width: 454px;
  margin: 96px auto 0;

  .signin-google {
    display: block;
    margin: 0 auto 18px;
    width: 75px;
    height: 75px;
  }
  .title {
    font-family: ToucheW03-Bold, sans-serif;
    font-weight: normal;
    font-size: 22px;
    line-height: 22px;
    text-align: center;
    color: #fff;
    margin: 0 auto 64px;
  }
  .signup-form {
    display: block;
    width: 100%;
    height: 152px;
  }
  .form-act {
    display: flex;
    justify-content: center;
    //width: 142px;
    padding: 0 15px;
    margin-top: 24px;
  }
  .to-login {
    display: block;
    position: relative;
    width: 100%;
    font-family: ToucheW03-Bold, sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 17px;
    text-align: center;
    color: #5fc4ee;
    margin-top: 217px;
    margin-bottom: 64px;
  }
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .social_sign-block {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    .signin-google {
      width: 50px;
      height: 50px;
    }
    .title {
      font-size: 38px;
      line-height: 45px;
      margin: 0 auto 5px;
    }
    .signup-form {
      height: 188px;
    }
    .form-act {
      margin-top: 0;
      height: 71px;
      margin-bottom: 15px;
    }
    .to-login {
      font-size: 1.15rem;
      line-height: 1.6rem;
      margin: 60px auto 20px;
    }
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .social_sign-block {
    width: 100%;
    padding: 0 15px;
    margin: 20px auto 0;
    .signin-google {
      width: 50px;
      height: 50px;
    }
    .title {
      font-size: 38px;
      line-height: 45px;
      margin: 0 auto 5px;
    }
    .signup-form {
      height: 188px;
    }
    .form-act {
      margin-top: 0;
      height: 71px;
      margin-bottom: 15px;
    }
    .to-login {
      font-size: 1.15rem;
      line-height: 1.6rem;
      margin: 60px auto 20px;
    }
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}
/* Medium devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .social_sign-block {
    width: 100%;
    padding: 0 15px;
    margin: 20px auto 0;
    .signin-google {
      width: 50px;
      height: 50px;
    }
    .title {
      font-size: 38px;
      line-height: 45px;
      margin: 0 auto 5px;
    }
    .signup-form {
      height: 188px;
    }
    .form-act {
      margin-top: 0;
      height: 71px;
      margin-bottom: 15px;
    }
    .to-login {
      font-size: 1.15rem;
      line-height: 1.6rem;
      margin: 60px auto 20px;
    }
  }
}
/* Large devices (laptops and desktops, 1280px x 720px and up) */
@media only screen and (min-width: 1200px) {
  .social_sign-block {
    width: 80%;
    margin: 50px auto 0;
    .signin-google {
      width: 60px;
      height: 60px;
    }
    .title {
      font-size: 32px;
      line-height: 32px;
      margin: 0 auto 64px;
    }
    .signup-form {
      height: 152px;
    }
    .form-act {
      justify-content: flex-end;
      margin-top: 0;
      height: 53px;
      margin-bottom: 15px;
    }
    .to-login {
      font-size: 16px;
      line-height: 17px;
      margin: 120px auto 0;
    }
  }
}
/* Large devices (large laptops and desktops, 1366px x 768px(height) and up) */
@media only screen and (min-width: 1366px) {
  .social_sign-block {
    width: 80%;
    margin: 70px auto 0;
    .signin-google {
      width: 60px;
      height: 60px;
    }
    .title {
      font-size: 32px;
      line-height: 32px;
      margin: 0 auto 64px;
    }
    .signup-form {
      height: 152px;
    }
    .form-act {
      justify-content: flex-end;
      margin-top: 25px;
      height: 53px;
      margin-bottom: 15px;
    }
    .to-login {
      font-size: 16px;
      line-height: 17px;
      margin: 130px auto 0;
    }
  }
}
/* Extra large devices (large laptops and desktops, 1440px x 900px(height) and up) */
@media only screen and (min-width: 1440px) {
  .social_sign-block {
    width: 80%;
    margin: 86px auto 0;
    .signin-google {
      width: 75px;
      height: 75px;
    }
    .title {
      font-size: 32px;
      line-height: 32px;
      margin: 0 auto 64px;
    }
    .signup-form {
      height: 152px;
    }
    .form-act {
      justify-content: flex-end;
      margin-top: 48px;
      height: 53px;
      margin-bottom: 15px;
    }
    .to-login {
      font-size: 16px;
      line-height: 17px;
      margin: 150px auto 0;
    }
  }
}
/* Extra large devices (large laptops and desktops, 1920px x 1080px(height) and up) */
@media only screen and (min-width: 1920px) {
  .social_sign-block {
    width: 454px;
    margin: 96px auto 0;
    .signin-google {
      width: 75px;
      height: 75px;
    }
    .title {
      font-size: 32px;
      line-height: 32px;
      margin: 0 auto 64px;
    }
    .signup-form {
      height: 152px;
    }
    .form-act {
      justify-content: flex-end;
      margin-top: 24px;
      height: 53px;
      margin-bottom: 15px;
    }
    .to-login {
      font-size: 16px;
      line-height: 17px;
      margin: 210px auto 0;
    }
  }
}
