.form442upLeft, .form442upRight,
.form442midLeft, .form442midMidL, .form442midMidR, .form442midRight,
.form442botLeft, .form442botMidL, .form442botMidR, .form442botRight,
.form442goalkeep {
    width: 50px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}
.form442upLeft {
    top: -30px;
    left: 110px;
}
.form442upRight {
    top: -30px;
    right: 110px;
}
.form442midLeft {
    top: 25px;
    left: 70px;
}
.form442midMidL {
    top: 40px;
    left: 125px;
}
.form442midMidR {
    top: 40px;
    right: 125px;
}
.form442midRight {
    top: 25px;
    right: 70px;
}
.form442botLeft {
    top: 90px;
    left: 50px;
}
.form442botMidL {
    top: 105px;
    left: 110px;
}
.form442botMidR {
    top: 105px;
    right: 110px;
}
.form442botRight {
    top: 90px;
    right: 50px;
}
.form442goalkeep {
    top: 150px;
    left: 160px;
}
@media only screen and (max-width: 600px) {
    .form442upLeft, .form442upRight,
    .form442midLeft, .form442midMidL, .form442midMidR, .form442midRight,
    .form442botLeft, .form442botMidL, .form442botMidR, .form442botRight,
    .form442goalkeep {
        width: 50px;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .form442upLeft {
        top: -30px;
        left: 110px;
    }
    .form442upRight {
        top: -30px;
        right: 110px;
    }
    .form442midLeft {
        top: 25px;
        left: 70px;
    }
    .form442midMidL {
        top: 40px;
        left:125px;
    }
    .form442midMidR {
        top: 40px;
        right: 125px;
    }
    .form442midRight {
        top: 25px;
        right: 70px;
    }
    .form442botLeft {
        top: 90px;
        left: 50px;
    }
    .form442botMidL {
        top: 105px;
        left: 110px;
    }
    .form442botMidR {
        top: 105px;
        right: 110px;
    }
    .form442botRight {
        top: 90px;
        right: 50px;
    }
    .form442goalkeep {
        top: 150px;
        left: 160px;
    }
}
@media only screen and (min-width: 600px) {
    .form442upLeft, .form442upRight,
    .form442midLeft, .form442midMidL, .form442midMidR, .form442midRight,
    .form442botLeft, .form442botMidL, .form442botMidR, .form442botRight,
    .form442goalkeep {
        width: 100px;
        display: block;
        position: absolute;
    }
    .form442upLeft {
        top: -45px;
        left: 180px;
    }
    .form442upRight {
        top: -45px;
        right: 180px;
    }
    .form442midLeft {
        top: 45px;
        left: 95px;
    }
    .form442midMidL {
        top: 95px;
        left:185px;
    }
    .form442midMidR {
        top: 95px;
        right: 195px;
    }
    .form442midRight {
        top: 45px;
        right: 95px;
    }
    .form442botLeft {
        top: 165px;
        left: 55px;
    }
    .form442botMidL {
        top: 200px;
        left: 140px;
    }
    .form442botMidR {
        top: 200px;
        right: 140px;
    }
    .form442botRight {
        top: 165px;
        right: 55px;
    }
    .form442goalkeep {
        top: 240px;
        left: 250px;
    }
}
@media only screen and (min-width: 1200px) {
    .form442upLeft, .form442upRight,
    .form442midLeft, .form442midMidL, .form442midMidR, .form442midRight,
    .form442botLeft, .form442botMidL, .form442botMidR, .form442botRight,
    .form442goalkeep {
        width: 100px;
        display: block;
    }
    .form442upLeft {
        top: 6px;
        left: 235px;
    }
    .form442upRight {
        top: 6px;
        right: 235px;
    }
    .form442midLeft {
        top: 120px;
        left: 145px;
    }
    .form442midMidL {
        top: 165px;
        left: 270px;
    }
    .form442midMidR {
        top: 165px;
        right: 270px;
    }
    .form442midRight {
        top: 120px;
        right: 145px;
    }
    .form442botLeft {
        top: 260px;
        left: 95px;
    }
    .form442botMidL {
        top: 300px;
        left: 220px;
    }
    .form442botMidR {
        top: 300px;
        right: 220px;
    }
    .form442botRight {
        top: 260px;
        right: 95px;
    }
    .form442goalkeep {
        top: 340px;
        left: 350px;
    }
}
@media only screen and (min-width: 1440px) {
    .form442upLeft {
        top: 6px;
        left: 235px;
    }
    .form442upRight {
        top: 6px;
        right: 235px;
    }
    .form442midLeft {
        top: 120px;
        left: 145px;
    }
    .form442midMidL {
        top: 165px;
        left: 270px;
    }
    .form442midMidR {
        top: 165px;
        right: 270px;
    }
    .form442midRight {
        top: 120px;
        right: 145px;
    }
    .form442botLeft {
        top: 260px;
        left: 95px;
    }
    .form442botMidL {
        top: 300px;
        left: 220px;
    }
    .form442botMidR {
        top: 300px;
        right: 220px;
    }
    .form442botRight {
        top: 260px;
        right: 95px;
    }
    .form442goalkeep {
        top: 340px;
        left: 350px;
    }
}
@media only screen and (min-width: 1920px) {
    .form442upLeft, .form442upRight,
    .form442midLeft, .form442midMidL, .form442midMidR, .form442midRight,
    .form442botLeft, .form442botMidL, .form442botMidR, .form442botRight,
    .form442goalkeep {
        position: absolute;
        display: block;
        width: 250px;
    }
    .form442upLeft {
        top: 20px;
        left: 230px;
    }
    .form442upRight {
        top: 20px;
        right: 230px;
    }
    .form442midLeft {
        top: 175px;
        left: 90px;
    }
    .form442midMidL {
        top: 215px;
        left: 250px;
    }
    .form442midMidR {
        top: 215px;
        right: 250px;
    }
    .form442midRight {
        top: 175px;
        right: 90px;
    }
    .form442botLeft {
        top: 330px;
        left: 35px;
    }
    .form442botMidL {
        top: 375px;
        left: 185px;
    }
    .form442botMidR {
        top: 375px;
        right: 185px;
    }
    .form442botRight {
        top: 330px;
        right: 35px;
    }
    .form442goalkeep {
        top: 414px;
        left: 344px;
    }
}

