.dashboard {
  display: flex;
}

@media screen and (max-width: 1024px) and (min-width: 766px) {
  .dashboard {
    padding-left: unset;
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 766px) and (min-width: 320px) {
  .dashboard {
    padding-left: unset;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 320px) {
  /* For mobile phones: */
  .dashboard{
    padding-left: unset;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}
