.ovalButton {
  background-color: var(--c-white-20);
  color: var(--c-white);
  border-radius: var(--radius-md);
  padding: 20px 32px 20px 32px !important;
  display: flex;
  align-items: center;
  border: 0px;
  max-height: 44px;
  cursor: pointer;
  outline: none;
}
.ovalButton img {
  padding-right: var(--space-6);
}
.ovalButton:hover {
  opacity: 0.7;
}
.buttonBank {
  background-color: var(--c-turk);
  font-family: var(--ff-bold);
}

@media (max-width: 640px) {
  .ovalButton {
    margin: 0 20px 0 20px !important;
  }
}
