.dateSort {
  padding: 32px;
  border-radius: var(--radius-lg);
  background-color: var(--c-white-05);
  margin-bottom: 24px;
}
.sortInner {
  display: flex;
  padding: 6px;
  justify-content: space-evenly;
}
.dayTitle {
  padding-bottom: 24px;
}

@media screen and (max-width: 766px) and (min-width: 360px) {
  .dateSort {
    padding: 5px;
  }
  .sortInner {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .score {
    min-width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .score p {
    padding-top: 6px;
  }
}
