.lastResult {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
}
.eventCard {
  padding: 32px;
  border-radius: var(--radius-lg);
  margin-top: 24px;
  background-color: var(--c-primary);
}
.inner {
  display: flex;
  justify-content: space-evenly;
}
.score {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.score h1 {
  line-height: 0px;
}
.scorers {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.scorersInner {
  padding-top: 12px;
  display: flex;
  justify-content: center;
}
.goal {
  padding-right: 16px;
}

.goal span {
  color: var(--c-turk);
}

@media screen and (max-width: 1684px) and (min-width: 1024px) {
}

@media screen and (max-width: 1024px) and (min-width: 766px) {
  .title {
    display: none;
  }
  .lastResult {
    padding: 24px;
  }
}

@media screen and (max-width: 766px) and (min-width: 360px) {
  .lastResult {
    padding: 12px;
  }
  .eventCard {
    padding: 16px;
  }
  .card {
    text-align: center;
  }
}
