.navbar {
  display: flex;
  align-items: center;
}
.navbarList {
  display: flex;
  margin-left: var(--space-95);
  list-style-type: none;
}
.navbarListItemLink {
  cursor: pointer;
  margin-right: var(--space-64);
  padding: 0 5px 0 5px;
  border-bottom: var(--border-4) solid transparent;
  height: var(--space-64);
  display: flex;
  align-items: center;
}
.navbar .navbarListItem .navbarListItemLink:hover {
  color: var(--c-yellow);
  border-bottom-width: var(--border-4);
  border-color: var(--c-yellow);
  font-family: var(--ff-bold);
}
@media screen and (max-width: 768px) and (min-width: 360px) {
  .navbar .navbarList {
    margin-left: var(--space-12);
  }
  .navbar .navbarListItem .navbarListItemLink {
    margin-right: var(--space-12);
    display: none;
  }
}
@media (max-width: 640px) {
  .navbar {
    display: flex;
    justify-content: space-between;
  }
  .navbar .navbarList {
    display: none;
  }
}
