.recent {
  margin-bottom: var(--space-32);
}
.recentHeader {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-top: var(--space-48);
  padding-bottom: var(--space-24);
}
.recentVideos {
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

@media screen and (max-width: 1024px) and (min-width: 766px) {
  .recentHeader {
    padding: 24px;
  }
  .recentVideos {
    display: flex;
    padding: 16px;
    gap: 32px;
    justify-content: space-between;
  }
}

@media screen and (max-width: 766px) and (min-width: 360px) {
  .recentHeader {
    padding: 12px;
  }
  .recentVideos {
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 32px;
  }
  .recentVideos img {
    object-fit: cover;
    width: 100%;
  }
}

@media only screen and (max-width: 360px) {
  /* For mobile phones: */
  .recentHeader {
    padding: 12px;
  }
  .recentVideos{
    display: flex;
    flex-direction: column;
    padding: 16px;
  }

  .recentVideos img {
    object-fit: cover;
    width: 100%;
  }
}
