.profileInfo {
  display: block;
  padding-left: 16px;
}
.profileInfo h2 {
  color: white;
  font-size: 24px;
  margin-top: 6px;
  margin-bottom: 6px;
  font-family: "Touche W03 Bold", "Arial", sans-serif;
}
.profileInfo h6 {
  color: white;
  margin-bottom: 12px;
  font-size: 16px;
  font-weight: 500;
  font-family: "Touche W03 Regular", "Arial", sans-serif;
}
.profileInfo img {
  padding-right: 16px;
}
