
.recoverBlock {
  display: block;
  width: 454px;
  //height: 473px;
  margin: 96px auto 0px;

  .title {
    font-family: ToucheW03-Bold, sans-serif;
    font-weight: normal;
    font-size: 32px;
    line-height: 32px;
    text-align: center;
    color: #fff;
  }
  .textBlock {
    display: block;
    width: 370px;
    height: 44px;
    margin: 12px auto 64px;

    .text {
      font-family: ToucheW03-Regular, sans-serif;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      color: #fff;
      opacity: 0.5;
    }
  }
  .formRecover {
    display: block;
    width: 100%;
  }
  .formSubmit {
    display: block;
    //width: 142px;
    margin-left: 304px;
    margin-top: 24px;
  }
  .toLogin {
    display: block;
    position: relative;
    width: 100%;
    font-family: ToucheW03-Bold, sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 17px;
    text-align: center;
    color: #5fc4ee;
    margin-top: 311px;
  }
}

