.eventDetail {
  max-width: var(--container-lg);
  margin-bottom: 200px;
}
.twoRows {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: repeat(3, minmax(0, 1fr));
  gap: 32px;
}

.routeComponent {
  background-color: var(--c-primary);
  border-radius: var(--radius-lg);
  padding: 32px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.routeComponent:hover {
  background-color: var(--c-black-50);
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

@media screen and (max-width: 1684px) and (min-width: 1024px) {
  .eventDetail {
    padding-right: 24px;
  }
}

@media screen and (max-width: 1024px) and (min-width: 766px) {
  .eventDetail {
    margin-left: auto;
    margin-right: auto;
    padding: 24px;
    margin-bottom: 50px;
  }
  .eventDetail h1 {
    display: none;
  }
}

@media screen and (max-width: 766px) and (min-width: 360px) {
  .eventDetail {
    padding: 12px;
    margin-bottom: unset;
  }
  .eventDetail h1 {
    display: none;
  }
  .twoRows {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
