.header {
  height: 64px;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  max-width: 1658px;
  padding-left: 35px;
  padding-right: 35px;
}
@media screen and (max-width: 760px) and (min-width: 360px) {
  .header {
    padding-left: 0px;
    padding-right: 0px;
    justify-content: space-around;
  }
}

@media (max-width: 640px) {
  .header {
    height: unset;
    width: unset;
    display: block;
    justify-content: unset;
    padding-left: 10px;
  }
}
