.wrapblock {
  display: block;
  position: relative;
  width: 1264px; /*66vw*/
  height: 802px; /*74vh */
  border-radius: var(--radius-xl);
  background: var(--c-primary);
  margin: 139px auto; /* 13vh*/
}
.wrapper {
  display: flex;
  width: 1264px; /*66vw*/
  height: 802px; /*74vh */
  justify-content: space-around;
}
.staticBlock {
  display: block;
  width: 50%;
  height: 100%;
}
.logoBlock {
  display: block;
  width: 323px;
  height: 107px;
  margin: 85px auto 48px;
}
.logo {
  display: block;
  width: 320px; /*16vw*/
}
.logoText {
  font-family: "ToucheW03-Regular", sans-serif;
  font-weight: normal;
  font-size: 19px; /*15px 0.9rem*/
  line-height: 23px; /* 15px*/
  text-align: center;
  color: #e4c044;
  margin-top: 10px;
}
.picBlock {
  display: block;
  width: 698px;
}
.picture {
  display: block;
  width: 600px; /*  370px 29vw*/
  margin: 0 auto;
  z-index: 200;
}
.shadowPic {
  display: block;
  position: relative;
  width: 100%; /* 29vw*/
  opacity: 0.09;
  background: transparent;
  margin: -15px auto 0;
  z-index: 100;
}
.dynamicBlock {
  display: block;
  width: 50%;
  height: 100%;
}
