
.staticBlock{
    display: flex;
    flex-direction: row;
    margin: 100px;
    background-color: #141f34;
    border-radius: 25px;
    padding: 20px;
}

.logoBlock{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.dynamicBlock{
    flex: 1;
}

.logoText {
  font-weight: normal;
  font-size: 19px; /*15px 0.9rem*/
  line-height: 23px; /* 15px*/
  text-align: center;
  color: var(--c-yellow);
  margin-top: 10px;
}

@media screen and (max-width: 1024px) and (min-width: 766px) {
    .staticBlock{
        display: flex;
        flex-direction: column;
    }
    
    .logoBlock{
        margin-top: 50px;
        flex: 1;
    }

    .dynamicBlock{
        margin-top: -30px;
        margin-bottom: -30px;
        flex: 1;
    }
}

@media screen and (max-width: 766px) and (min-width: 360px) {
     .staticBlock{
        display: flex;
        flex-direction: column;
        margin: 15px;
    }
    
    .logoBlock{
        margin-top: 50px;
        flex: 1;
    }

    .dynamicBlock{
        margin-top: -30px;
        margin-bottom: -30px;
    }
}

@media only screen and (max-width: 360px) {
  /* For mobile phones: */

    .staticBlock{
      display: flex;
      flex-direction: column;
      margin: 0;
      border-radius: 0;
      margin-top: 60px
    }

    .logoBlock{
        margin-top: 50px;
        flex: 1;
    }

    .dynamicBlock{
        margin-top: -30px;
        margin-bottom: -30px;
    }
}