.contentMediaWrapper {
  background: var(--c-white-10) 0% 0% no-repeat padding-box;
  text-align: center;
  vertical-align: middle;
  padding: 0;
  margin: 0;
  border-top-left-radius: var(--radius-lg);
  border-top-right-radius: var(--radius-lg);
  border-bottom-left-radius: var(--radius-md);
  border-bottom-right-radius: var(--radius-md);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contentMedia {
  border-radius: var(--radius-lg);
  max-height: 487px;
  width: 100%;
  object-fit: cover;
}
.contentRelatedMediaWrapper {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin-top: 10px;
}

.contentRelatedMedia {
  height: 70px;
  width: 70px;
  margin-left: var(--space-12);
  border-radius: var(--space-16);
  object-fit: cover;
  background-color: var(--c-nav);
  cursor: pointer;
}
.activeRelatedMedia {
  border: 3px solid var(--c-turk);
}

.contentBody {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.contentViews {
  padding: 20px;
}
.contentTitle {
  display: flex;
  align-items: center;
}
.contentDateTime {
  display: block;
  margin-left: 25px;
}
.postAuthorProfile img {
  border-radius: var(--radius-xl);
  height: var(--space-48);
  width: var(--space-48);
}
.postAuthorProfile {
  display: flex;
  align-items: center;
}
.postHeaderButtons {
  display: flex;
}
.postAuthorInfo {
  padding-left: var(--space-12);
  text-transform: capitalize;
}
.postAuthorName {
  cursor: pointer;
}
.postAuthorName:hover {
  font-weight: bold;
}
.postHeader {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}
.contentActionButtons {
  padding-top: var(--space-12);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.commentsWrapper {
  margin-top: var(--space-50);
}
.commentsLoadMoreWrapper {
  display: flex;
  justify-content: center;
}
.commentsLoadMoreButton {
  cursor: pointer;
  background: var(--c-white-10) 0% 0% no-repeat padding-box;
  border-radius: var(--border-5);
  margin-left: var(--space-8);
  margin-right: var(--space-8);
  padding: var(--space-8);
  margin-top: 15px;
  display: flex;
  align-items: center;
}
.commentsLoadMoreButton:hover {
  background-color: var(--c-white-30);
}
.loader {
  margin-left: 5px;
}
.mediaHover {
  cursor: pointer;
}

@media (max-width: 768px) {
  .postHeader {
    order: 1;
  }
}
