.pitch {
    height: fit-content;
    width: 1592px;
    margin: 0 auto;
}
@media only screen and (max-width: 600px) {
    .pitch {
        width: 375px;
        margin: 0 auto;
    }
}
@media only screen and (min-width: 600px) {
    .pitch {
        width: 600px;
        margin: 0 auto;
    }
}
@media only screen and (min-width: 1200px) {
    .pitch {
        width: 1100px;
    }
}
@media only screen and (min-width: 1440px) {
    .pitch {
        width: 1400px;
    }
}
@media only screen and (min-width: 1920px) {
    .pitch {
        width: 1592px;
    }
}
