* {
  margin: 0;
  padding: 0;
}

* {
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Likely future */
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
  font-family: var(--ff-regular);
  font-size: var(--fs-base);
  color: var(--c-white);
}

body {
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  min-height: 100vh;
  background: cover rgb(55, 113, 137);
  background: no-repeat
    linear-gradient(
      166deg,
      rgba(55, 113, 137, 1) 0.1%,
      rgba(28, 53, 73, 1) 10%,
      rgba(15, 23, 41, 1) 24%
    );
}
a {
  text-decoration: none;
}
a:visited {
  color: var(--c-white);
}

img {
  max-width: 100%;
  vertical-align: middle;
}

#__next {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  padding: var(--space-1) 0;
  background-color: black;
}
:-webkit-scrollbar {
  width: 1px !important;
}
::-webkit-scrollbar-thumb {
  border-radius: var(--radius-md);
  box-shadow: inset 0 0 6px var(--c-white-30);
  background-color: var(--c-turk);
  border: none;
}

.checkboxContainer {
  display: flex;
  align-items: center;
  padding-bottom: 3px;
}
.checkboxContainer label {
  cursor: pointer;
  display: flex;
}
.checkboxContainer input[type="checkbox"] {
  cursor: pointer;
  opacity: 0;
  position: absolute;
}
.checkboxContainer label::before {
  content: "";
  width: 1.2em;
  height: 1.2em;
  background-color: var(--c-white-20);
  border-radius: 0.25em;
  margin-right: 10px;
  border: 0.01em solid #1d252d20;
}
.checkboxContainer label:hover::before,
.checkboxContainer input[type="checkbox"]:hover + label::before {
  background-color: var(--c-turk);
}
.checkboxContainer input[type="checkbox"]:checked + label::before {
  background: url("/assets/open.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  main {
    padding-bottom: 70px;
  }
}

.notification-container {
  --gap: 25px;
  --notification-size: 350px;
  --animation-duration: 0.35s;
  --animation-easing: cubic-bezier(0, 0, 0.6, 1.46);
  --transition-easing: ease;
  position: absolute;
  top: 0;
  left: 0;
  width: var(--notification-size);
}

.close-btn {
  color: #fff;
  background: none;
  border: none;
  cursor: pointer;
}

.notification-message {
  color: #fff;
  background: #222;
  padding: 15px 20px;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background: #222;
  position: absolute;
  left: 0;
  top: var(--gap);
  width: var(--notification-size);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  opacity: 0;
  transform: translateX(calc(var(--notification-size) * -1));
  transition: top calc(var(--animation-duration) - 0.1s)
      var(--transition-easing),
    bottom calc(var(--animation-duration) - 0.1s) var(--transition-easing);
  animation: slide-from-left var(--animation-duration) var(--animation-easing)
    forwards;
}

.notification-message span {
  width: calc(100% - 30px);
}

/* TOP & BOTTOM */
.notification-container.bottom,
.notification-container.top {
  left: 50%;
  transform: translateX(-50%);
}

.notification-container.bottom .notification-message,
.notification-container.top .notification-message {
  animation: slide-vertically var(--animation-duration) var(--animation-easing)
    forwards;
}

.notification-container.top .notification-message {
  transform: translate(0, calc(-100% - var(--gap)));
}

.notification-container.bottom .notification-message {
  transform: translateY(calc(100% + var(--gap)));
}

/* TOP RIGHT && BOTTOM RIGHT */
.notification-container.bottom-right,
.notification-container.top-right {
  left: auto;
  right: 0;
}

.notification-container.bottom-right .notification-message,
.notification-container.top-right .notification-message {
  flex-direction: row-reverse;
  transform: translateX(var(--notification-size));
  animation: slide-from-right var(--animation-duration) var(--animation-easing)
    forwards;
}

/* BOTTOM && BOTTOM LEFT */
.notification-container.bottom,
.notification-container.bottom-left,
.notification-container.bottom-right {
  top: auto;
  bottom: 0;
}

.notification-container.bottom .notification-message,
.notification-container.bottom-left .notification-message,
.notification-container.bottom-right .notification-message {
  top: auto;
  bottom: var(--gap);
}

/* KEYFRAMES */

@keyframes slide-from-left {
  100% {
    transform: translateX(var(--gap));
    opacity: 1;
  }
}

@keyframes slide-from-right {
  100% {
    transform: translateX(calc(var(--gap) * -1));
    opacity: 1;
  }
}

@keyframes slide-vertically {
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.errorAlert {
  color: var(--c-white);
  background-color: var(--c-red);
}
.warningAlert {
  color: var(--c-white);
  background-color: var(--c-yellow);
}
.successAlert {
  color: var(--c-white);
  background-color: var(--c-green);
}
.infoAlert {
  color: var(--c-white);
  background-color: var(--c-black-50);
}
.alertIconWrapper {
  display: flex;
  opacity: 0.9;
  font-size: 22px;
}
.alertIcon {
  fill: currentColor;
  width: 1em;
  height: 1em;
  display: inline-block;
  font-size: 1.3rem;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  flex-shrink: 0;
  user-select: none;
}
