* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
  font-family: var(--ff-regular);
  font-size: var(--fs-base);
  color: var(--c-white);
}

body {
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  background: rgb(55, 113, 137);
  background: no-repeat
    linear-gradient(
      166deg,
      rgba(55, 113, 137, 1) 0.1%,
      rgba(28, 53, 73, 1) 10%,
      rgba(15, 23, 41, 1) 24%
    );
}
a {
  text-decoration: none;
}
a:visited {
  color: var(--c-white);
}

img {
  max-width: 100%;
  vertical-align: middle;
}

#__next {
  width: 100vw;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 5px;
}

.checkboxContainer {
  display: flex;
  align-items: center;
  padding-bottom: 3px;
}
.checkboxContainer label {
  cursor: pointer;
  display: flex;
}
.checkboxContainer input[type="checkbox"] {
  cursor: pointer;
  opacity: 0;
  position: absolute;
}
.checkboxContainer label::before {
  content: "";
  width: 1.2em;
  height: 1.2em;
  background-color: var(--c-white-20);
  border-radius: 0.25em;
  margin-right: 10px;
  border: 0.01em solid #1d252d20;
}
.checkboxContainer label:hover::before,
.checkboxContainer input[type="checkbox"]:hover + label::before {
  background-color: var(--c-turk);
}
.checkboxContainer input[type="checkbox"]:checked + label::before {
  background: url("/assets/open.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  main {
    padding-bottom: 70px;
  }
}
