h1,
.h1,
h2,
.h2,
h3,
.h3 {
  font-family: var(--ff-bold);
  color: var(--c-white);
}

h1,
.h1 {
  font-size: var(--fs-h1);
}

h2,
.h2 {
  font-size: var(--fs-h2);
}

h3,
.h3 {
  font-size: var(--fs-h3);
}
