.profileInfo {
  display: block;
  padding-left: var(--space-16);
  max-width: 530px;
}
.profileInfo .playerName {
  margin-top: var(--space-6);
  margin-bottom: var(--space-6);
}
.profileInfo .playerRole {
  margin-bottom: var(--space-12);
  font-weight: 500;
  font-size: var(--fs-h3);
  text-transform: capitalize;
}
.profileInfo .playerClubImg {
  margin-right: var(--space-16);
  border-radius: 50%;
}
.profileInfo .clubsCrest {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.profileInfo .clubsCrest img {
  width: 40px;
  height: 40px;
}
.profilePlayerImage {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

@media (min-width: 470px) {
  .profilePlayerImage {
    width: 100px;
    height: 100px;
  }
}

@media (max-width: 470px) {
  .playerName {
    font-size: 17px;
  }
  .playerRole {
    font-size: 12px !important;
  }
  .playerClubImg {
    height: auto;
    width: 40px;
  }
}

@media (min-width: 640px) {
  .profilePlayerImage {
    width: 150px;
    height: 150px;
  }
}
