.socSignBlock {
  display: block;
  width: var(--container-md);
  margin: var(--space-95) auto 0px;
}
.iconGoogle {
  display: block;
  margin: 0 auto 18px;
  width: 75px;
  height: 75px;
}
.title {
  text-align: center;
  margin: 0 auto 64px;
}
.formLogin {
  display: block;
  width: 100%;
  height: 152px;
}
.formAct {
  display: block;
  margin-left: 297px;
  margin-top: 24px;
}

.toLogin {
  text-align: center;
  margin-top: 217px;
  margin-bottom: 64px;
}
