.profileInfo {
  display: block;
  padding-left: var(--space-16);
}
.profileInfo .playerName {
  margin-top: var(--space-6);
  margin-bottom: var(--space-6);
}
.profileInfo .playerRole {
  margin-bottom: var(--space-12);
  font-weight: 500;
  font-size: var(--fs-h3);
}
.profileInfo .playerClubImg {
  padding-right: var(--space-16);
}

@media (min-width: 470px) {
}

@media (max-width: 470px) {
  .playerName {
    font-size: 17px;
  }
  .playerRole {
    font-size: 12px !important;
  }
  .playerClubImg {
    height: auto;
    width: 40px;
  }
}

/* @media screen and (min-width: 640px) and (max-width: 900px) {
  .playerName {
    font-size: 17px;
  }
} */
