.score {
  display: flex;
  justify-content: space-evenly;
}

.teamCard {
  display: flex;
  font-family: var(--ff-bold);
  flex-direction: column;
  justify-content: center;
}
.teamCard img {
  height: 70px;
  object-fit: contain;
  margin-bottom: 10px;
}
.scoreMiddle {
  display: flex;
  padding-top: 12px;
  flex-direction: column;
  justify-content: center;
}
.scoreMiddle h1 {
  line-height: 0px;
  text-align: center;
}
