.inputCont {
  display: block;
  width: 100%;
  height: 76px;
}
.inputCont .inputBlock {
  display: block;
  width: 100%;
  height: 52px;
  border: 0px solid;
  border-radius: var(--radius-md);
  background: rgba(255, 255, 255, 0.1);
  outline: none;
  font-family: var(--ff-regular);
  font-size: var(--space-16);
  line-height: var(--space-16);
  text-align: left;
  color: var(--c-white-50);
  padding: var(--space-16) var(--space-16) var(--space-16) var(--space-16);
  margin: 0px auto var(--space-24);
}
.inputCont .inputBlock:focus {
  border: 2px solid var(--c-white-50);
  color: var(--c-white);
  padding-left: 14px;
  padding-right: 14px;
}
.inputCont .showPassword {
  display: inline-block;
  position: relative;
  top: -58px;
  right: -413px;
  width: 24var (--space-24);
  height: var(--space-16);
  font-size: 0;
}
.inputCont .showPassword img {
  width: 100%;
  background: transparent;
  opacity: 1;
}
